[2015-12-23 10:33] vpp opened #2 "Use panels for General Setting page."

[2015-12-23 11:38] vpp opened #3 "Add new bank holiday"
When adding new bank holiday and enter invalid data, e.g. leave name blank, after form submission page report success, but nothing is added.

[2015-12-23 11:39] vpp commented on #3
That should be covered by integration test.

[2015-12-23 11:39] #2 closed

[2015-12-25 21:37] vpp opened #4 "My calendar bank holidays"
When my calendar page shows only four upcoming months and some of them are in new year, bank holidays from those months are not shown, even though when year is expanded to full they are shown.

[2015-12-25 21:44] vpp commented on #4
It is not an issue.

[2015-12-25 21:44] #4 closed

[2016-01-04 10:31] #3 closed

[2016-01-04 10:33] vpp opened #5 "Redirect after revoking"

[2016-01-04 12:26] vpp opened #6 "Transferring unused holidays to next year"
System should automatically transfer all remaining vacation days to the next year.

Alternatively when calculating employee allowance previous year should be taken into consideration.

Some notes on implementation:

* Linking table to user: carried_over_allowance. With fields: id, user_id, year, carried_over_allowance, suggested_allowance
* Supervisor automatically sees missing carry overs on the

[2016-01-04 12:29] vpp opened #7 "Employee details page to have sum of used days per year"
In addition to the list of taken absences there should be a sum of used allowance per year.

Also list of absences to be split by years.

[2016-01-04 12:38] vpp opened #8 "Prevent overbooking"
Make sure employees are not able to book more vacation than allocated.

[2016-01-04 21:36] #8 closed

[2016-01-05 17:31] vpp opened #9 "Consider unifying the way models are obtained."
Following section "Using Models In Code" in https://dzone.com/articles/sequelize-javascript-orm it is recommended to to use

app.set('models', require('./models'));

and then

var User = app.get('models').User;

in following places.

That will makes sure we open on DB connection.

That idea makes sense and we need to bring it into our project.

[2016-01-06 13:38] vpp opened #10 "Hints on registration page"
Add bootstrap tool tips with brief field description next to field on registration page.

[2016-01-06 17:07] vpp opened #11 "Update email footer to get rid of Pavlo"
As some customers complained the name Pavlo is not relevant to the emails from TimeOff.Management

Lets change the email signature to be just "TimeOff.Management"

[2016-01-07 13:45] #11 closed

[2016-01-07 19:33] vpp opened #12 "Consider adding "Share all absences" flag to the company"
As one of our customers suggested:

"How are view permissions setup?  I want everyone in my company to see everyone else’s calendar regardless of the department they are in."

It sounds like very reasonable requirement and could be implemented cheaply as a flag on Company with effect on Team view. If set the Team View will show entire company not just peers. Consider to just to amend "All departme

[2016-01-07 19:36] vpp opened #13 "Consider adding holiday approvers on individual bases rather than on departments"
As one of our customers suggested:

"It would be very helpful to be able to be to assign an approver individually for each employee rather than having the approver combined with the department."

We need to think how to add this feature without having big impact on current structure of model.

Not sure about solution at this moment yet.

[2016-01-07 19:41] vpp opened #14 "Fix a typos"
On the calendar view Upcomming months is misspelled.  it should be "Upcoming Months".

[2016-01-07 19:44] vpp opened #15 "Change the operational email address"
As customers suggested it would be better to use "noreply@timeoff.management" email rather then my personal.

It involves setup new account on our hosting.

[2016-01-07 19:51] vpp opened #16 "Make some email notifications are optional"
Add a way for disabling some of emails on company level. It should be done as a set of checkboxes on company settings.

Emails like "notify approver for decision" etc.

By default all emails should be enabled.

[2016-01-08 08:35] vpp opened #17 "Mention atlassian calendar on public website"
So customers see that TimeOff.Management can integrate with confluence/jira calendars in the same way as with outlook.

[2016-01-08 08:39] vpp commented on #13
Consider adding "personal approver" field on the user, that if defined, override department's approver.

Not sure about that though. As it adds complexity to the logic of absence management.

[2016-01-10 12:09] #14 closed

[2016-01-10 12:36] #15 closed

[2016-01-10 14:58] #17 closed

[2016-01-10 15:03] #12 closed

[2016-01-11 15:10] vpp opened #18 "Clean up app.js"
We need to clean up the structure of app.js:

* how 404 is handled
* how 500 page is handled
* moove session secret into config
* move handlebars setup into midleware

[2016-01-11 15:13] vpp opened #19 "Add new page under Supervision menu section: Incoming request"
That page to have two sections:

* requests that are needed to be progressed
* requests that were decided by current user, for historical records

[2016-01-11 15:17] vpp opened #20 "LDAP export"
As one of customers requested ability to auth via LDAP, here are some notes where to start:

consider using https://www.npmjs.com/package/passport-ldapauth
for testing refere to http://stackoverflow.com/questions/7667197/is-there-any-free-ldap-server-with-data

Maybe just a way to export users from LDAP server?

[2016-01-11 15:33] vpp opened #21 "Leave_type 'limit' field is respected"

[2016-01-11 15:34] vpp opened #22 "Supervision menu section to be shown for non admin supervisers"

[2016-01-11 16:37] vpp opened #23 "My calendar page is responsive"
Tweak CSS to make My Calendar page being usable on mobiles.

[2016-01-11 16:38] vpp commented on #23
Show less statistics

Update book holiday modal.

[2016-01-11 21:02] vpp opened #24 "Application tours"
Consider adding tours with http://github.hubspot.com/shepherd/docs/welcome/

[2016-01-12 09:43] #23 closed

[2016-01-12 09:44] vpp opened #25 "My requests page is responsive"
Make My requests page mobile friendly.

[2016-01-12 18:58] vpp opened #26 "Date picker issue on mobile safari"
Try to book a holiday on safari

[2016-01-12 20:24] vpp opened #27 "Highlight current date column on Team View page"
One team view page the column that represent current date should be visually distinguished.

[2016-01-12 20:26] #25 closed

[2016-01-12 20:43] vpp commented on #26
The bootstrap modals are limited in iOS:

http://getbootstrap.com/getting-started/#support-fixed-position-keyboards

[2016-01-12 21:07] vpp commented on #26
Found a fix as described here: https://github.com/twbs/bootstrap/issues/15852#issuecomment-75311227

[2016-01-12 21:07] #26 closed

[2016-01-13 11:16] vpp opened #28 "User adjustments to allow half days"
Got an email from customer:

 in the adjustments, It won't let me enter half days adjustment?

[2016-01-13 11:18] vpp commented on #28
Update CW about progress.

[2016-01-13 18:42] #28 closed

[2016-01-14 10:22] #27 closed

[2016-01-14 21:59] vpp opened #29 "Days remaining on user detail page shows incorrect data"
When Adjustment is used total allowance is correct but remaining days are not

[2016-01-14 23:00] vpp commented on #21
Update RD when ready.

[2016-01-14 23:00] #29 closed

[2016-01-18 16:39] vpp opened #30 "Move to DO hosting"
Fed up with troubles with Webfaction hosting.

Constant outages.

Move the website onto DO hosting.

[2016-01-18 17:07] vpp commented on #30
The trouble is that webfaction has handy email solution out of the box.

Need to research options for DO.

[2016-01-19 21:43] #21 closed

[2016-01-20 12:11] vpp opened #31 "Add a link to user details page from Team view for admin users"
If current user has administrator's permissions, convert employee names on Team view page to be links to the Employee details page.

[2016-01-20 12:19] vpp commented on #31
Update RD when deployed.

[2016-01-20 17:27] #31 closed

[2016-01-20 21:18] vpp opened #32 "Ability to "holiday prohibition" dates"
As our customer suggested:

...

One feature you may like to put on your list is the ability to prevent booking on certain days.

For example, towards the end of every May we run a huge exhibition, we don't allow staff to book holiday a week either side of this event. Would be great to allow a " holiday prohibited" date range.

...

Maybe it is not to block holidays completely but to highlight tha

[2016-01-27 16:05] vpp opened #33 "Consider adding toobusy option to the app"
https://github.com/lloyd/node-toobusy

[2016-01-28 14:36] #9 closed

[2016-01-28 15:22] vpp opened #34 "Move sessions storage into memcahe"

[2016-01-28 15:39] vpp commented on #34
Consider memcached: https://docs.webfaction.com/software/memcached.html and https://www.npmjs.com/package/connect-memcached

[2016-01-28 15:46] vpp commented on #34
Try to use following URL to the server: 'unix:///tmp/memcached.socket'

[2016-01-28 16:05] vpp opened #35 "Rebuild the statistics section on the calendar page"
Use the sketch done in notebook as an example.

[2016-01-28 16:05] vpp opened #36 "Introduce SASS into the CSS"

[2016-01-28 22:37] vpp opened #37 "Consider increasing granularity of the leaves by splitting days into hours."
As one of our customers suggested:

"> I can provide one suggestion for a feature. It’d probably require a

We need to consider that.

[2016-01-29 15:51] vpp opened #38 "Do not leave account without admin user"
If there is an attempt to revoke admin privileges from the last admin in the account: reject the action.

[2016-01-29 15:53] scancreeder commented on #37
I believe this to be a really good change - I've found in my experience that most companies track vacation, personal time, etc in hours, not days. This allows someone to request "4.5 hours" off, and accrue, say, "4.25 hours of personal time, per week worked".

My suggestion would be to change the unit to hours, and allow increments as granular as 0.25 hours (15 minutes). On the requesting time off

[2016-01-29 17:11] #36 closed

[2016-01-29 17:11] #35 closed

[2016-01-29 17:15] #30 closed

[2016-01-29 20:08] vpp commented on #37
I thought about the feature of increasing granularity of absences from half a day to the level of hours.

Tried to understand what is a problem we need to solve.

A) Is it to enable employees to book just a few hours of off time?

B) Or to be able to spend time that is accrual up to current date?

In majority of cases company allocate a particular number of days per year an employee could take as

[2016-02-01 10:21] vpp opened #39 "Limit is not populated when creating new leave type"

[2016-02-01 10:33] vpp opened #40 "Fix a ugly output ini tests"
There are some moment.js usage that is going to be deprecated, following is from test runs:

  Basic leave request
Deprecation warning: moment construction falls back to js Date. This is discouraged and will be removed in upcoming major release. Please refer to https://github.com/moment/moment/issues/1407 for more info.
Arguments: [object Object]
Error
    at Function.createFromInputFallback (/hom

[2016-02-02 10:09] vpp opened #41 "Multi location companies"
Consider adding concept of locations into companies.

So it is possible to have different sets of bank holidays within same organisation. E.g. if company has offices in different countries.

Here is a comment of one of our customers:

"... Our company is international, which brings a load of complications concerning different calendars and vacation time rules for each country. To generalize it, be

[2016-02-02 10:17] vpp opened #42 "Progressive allowance feature"
This is what of one of the customers wrote:

"In our case, time off is based on length of employment."

As it looks to me it is not complex to add feature of "time in company based allowance", that it with every year of being with a company employee gets extra day off until lets say 5.

That change would require few changes of DB structure:

* add flag that enables the feature on company level
* a

[2016-02-02 10:36] vpp opened #43 "Accrued allowance feature"
Currently the application allocate the number of free time off days at the start of the year and employee is able to spend them at any point.

Few customers asked for feature when the allowance is accrued based on how far in the current year we are now.

"... We would need some notion of accrued time. Instead of having a fixed amount of time available at the beginning of the year, we officially ac

[2016-02-04 10:25] vpp opened #44 "Login and reset passwords should be case insensitive"

[2016-02-04 16:57] vpp commented on #44
We need to normalise the DB to have only lower case emails. And update code that amends email addresses to save only lower cases.

* Register new account
* Edit user details
* Add new user to company

[2016-02-04 17:16] vpp commented on #19
Decided that it is not a way to go.

The My requests page still remains the same and it is going to be extended to include request the user made decision on.

[2016-02-09 16:12] vpp opened #45 "Upgrade bluebird to >3 version"
http://bluebirdjs.com/docs/new-in-bluebird-3.html

[2016-02-12 13:05] vpp opened #46 "Non allocated days off to be shown differently."
As per customer request:

"Quick question from one of my team leaders, are we able to have the sick days displayed on the team view page with a different colour on the shading?"

In ideal world we need to make colour picker on the leave type setup page.

That is to be done later as needs more work.

Meanwhile make holidays that are not counted toward allocation be presented differently .

[2016-02-14 21:11] kai3x5 opened #47 "UI: add_new_leave_type_btn overlap"
Not sure if intentional but the "Add new" button is overlapping the "Save changes" button.

## Before changing button padding:
<img width="288" alt="hud5und" src="https://cloud.githubusercontent.com/assets/11261243/13036467/c4df4b6e-d32d-11e5-9629-2b778e397669.png">

## After changing button padding:
<img width="306" alt="toqdmgp" src="https://cloud.githubusercontent.com/assets/11261243/13036471/c

[2016-02-14 21:21] vpp commented on #47
Thanks @kai3x5, I will put the fix into the master.

[2016-02-16 20:16] #44 closed

[2016-02-17 12:44] vpp opened #48 "Revoking by admin/supervisor does not work"
STR:
* as admin/supervisor user try to revoke someone's existing time off.
* currently it fails

Update CW when done.

[2016-02-17 17:22] vpp opened #49 "Fix deprecation error"
express deprecated req.param(name): Use req.params, req.body, or req.query instead lib/route/login.js:94:23
express deprecated req.param(name): Use req.params, req.body, or req.query instead lib/route/login.js:101:22
express deprecated req.param(name): Use req.params, req.body, or req.query instead lib/route/login.js:106:26

[2016-02-17 19:59] #48 closed

[2016-02-24 15:37] vpp opened #50 "Respect end date for employee"
Prevent her from:
* login into system
* showing on the team view page
* showing in the list of possible approvers
* reduce code duplication
* Make sure when updating deactivated user to be active again, system checks that such user does not exist in other companies.

[2016-03-01 22:54] vpp opened #51 "Make sure that "Public holidays" flag on departments setting is respected"
Write a test.

If that is set to false user does not have public holidays as days off.

[2016-03-22 21:37] vpp commented on #20
No need to export users at this point, just allow user to be authenticated against LDAP server.

[2016-03-24 14:18] vpp commented on #20
Do not forget to update reset password email to mention that users from LDAP based companies do not have such feature.

[2016-03-25 23:13] #20 closed

[2016-03-29 15:53] vpp opened #52 "Automated test for LDAP auth"
New test needs to check at least following scenario:

* create a default company
* add an admin user A with email from http://www.forumsys.com/en/tutorials/integration-how-to/ldap/online-ldap-test-server/ (the password should be default one for tests - 123456)
- try to login as A with default TimeOff>management test password -> OK
- go to LDAP settings and configure to use LDAP server detailed in

[2016-04-28 13:48] vpp opened #54 "Update year in footer"
As very least update it to be hardcoded as 2016.

Ideally it should be populated dynamically. Consider using moment.format('YYYY').

[2016-06-01 15:00] vpp opened #56 "Failure to show users page when one of the approvers got to be removed."
I have deleted a former employee from the system this morning, but now when clicking to show the list of employees:

TypeError: Cannot read property 'user' of undefined
    at sequelize.define.instanceMethods.get_deducted_days (/home/vpp/webapps/timeoff_management_app/application/lib/model/db/leave.js:308:48)
    at sequelize.define.instanceMethods.get_deducted_days_number (/home/vpp/webapps/timeo

[2016-06-01 15:02] vpp commented on #56
This issue is due to broken association: leave uses approver to obtain the public holidays, but it should use the user.

[2016-06-01 15:04] #56 closed

[2016-06-07 16:20] vpp opened #57 "Postgres does not like lowcased names"
Customer reported that in order to make TOM work with PostgreSQL one need to do this tweak;

--- a/lib/model/db/leave.js
+++ b/lib/model/db/leave.js
@@ -57,7 +57,7 @@ module.exports = function(sequelize, DataTypes) {
             fields : ['leaveTypeId'],
           },
           {
-            fields : ['approverid'],
-            fields : ['approverId'],
         },
       ],
       classMethods

[2016-07-21 10:45] vpp opened #58 "Add timezone support"
The company has to have timezone property, and the application takes it into consideration when performing all datetime related calculations.

[2016-07-21 10:46] #54 closed

[2016-07-22 14:37] vpp opened #59 "Customers are able to change datetime format"
As per customer suggestion:

2) Start of the week needs to be configurable. E.g. Italy has Monday as a start of the week. US has Sanday.

[2016-07-22 14:39] vpp commented on #13
As per other customer request:

Maybe the list of the approvers should consist of: the approver plus all superusers from within current company.

[2016-07-22 14:44] vpp opened #60 "UX improvements for creating new leave request"
As per customer request:

[2016-07-22 14:47] vpp opened #61 "Customisable logo"
As per customer suggestion:

Consider adding this setting as part of Advanced settings section

[2016-07-22 14:54] vpp opened #62 "Make Saturday/Sundays workable if needed"
Based on customers suggestions:

 https://twitter.com/FreeTimeOffApp/status/701328601350848513

and

It is worth making this feature customisable via web interface or at least configuration file (if former is complicated).

[2016-07-22 14:55] vpp opened #63 "UX improvements"
As per customer suggestion:

[2016-07-25 14:37] vpp commented on #62
Got another customer asking for custom "weekends".

[2016-07-26 10:53] vpp opened #64 "Ads"
Send pull request to https://github.com/Kickball/awesome-selfhosted#pastebins about our project

[2016-08-03 09:30] vpp opened #65 "Add exception lists"
Users on the list cannot take time off all in one go, at least one should be available.

That could be useful for instance to make sure that at least one fire marshal is in the office.

[2016-08-22 12:59] vpp commented on #43
Got interest from one more person.

[2016-08-30 15:06] vpp commented on #43
More interest from customers.

[2016-09-15 13:56] vpp commented on #47
Fixed.

[2016-09-15 13:56] #47 closed

[2016-09-29 15:51] vpp opened #66 "Inactive users should be marked in admin part"
Employee is inactive when her "ending date" is in past.

Such employees when showing on Users page should be marked somehow.

Also the edit user page should know how to distinguish such users.

[2016-09-29 15:52] vpp opened #67 "When deleting user account add JS confirmation"
To prevent accidental removal of employees add simple JS conform dialog.

Update tests to be aware of it as well.

[2016-09-30 16:01] vpp opened #68 "Facelift emails"
Use templates from here https://github.com/seanpowell/Email-Boilerplate

Templates to process:
- add_new_user.hbs
- confirm_registration.hbs
- foobar.hbs
- forgot_password.hbs
- leave_request_decision_to_requestor.hbs
- leave_request_decision_to_supervisor.hbs
- leave_request_revoke_to_requestor.hbs
- leave_request_revoke_to_supervisor.hbs
- leave_request_to_requestor.hbs
- leave_request_to_superv

[2016-10-03 14:29] #50 closed

[2016-10-17 16:18] vpp opened #69 "Record all outcoming emails"
Create a table where to store all emails system sent. Fields:

* id
* company_id
* user_id
* email
* subject
* body

Add a page:

* All emails, that is accessible only to admin users and shows all emails sent within current company
** should be filtered by time and users

[2016-10-20 21:40] enriquetoledano opened #70 "Little bug in add_new_department_modal.hbs"
Line 43 of add_new_department_modal.hbs should be
`<option value="{{this.id}}">{{this.full_name}}</option>`
instead of
`<option value="{{this.id}}">{{this.name}}</option>`
Best regards

[2016-10-20 21:43] vpp commented on #70
Good spot! Thanks! Will update master shortly.

[2016-10-20 21:58] vpp commented on #70
Merged into master and deployed on timeoff.management

[2016-10-20 21:58] #70 closed

[2016-10-20 22:08] enriquetoledano opened #72 "Typos"
Some typos:

settings.js 639
Failed to validate new LDAP settings with provided current user passwprd
Failed to validate new LDAP settings with provided current user password

users.js 534
req.session.flash_error('Provoded department is incorrect');
req.session.flash_error('Provided department is incorrect');

calendar_cell.hbs 24
{{#if this.is_pended_revoke_leave}}Revoked waiting for appoval{{/if

[2016-10-20 22:16] enriquetoledano opened #73 "Bug in calendar view"
The name of the supervisor that approves the leave is not showing in the calendar view under "Approved by"

Best regards

[2016-10-21 07:48] #69 closed

[2016-10-21 08:58] vpp commented on #72
Thank you @enriquetoledano  for spotting those typos.

[2016-10-21 08:58] #72 closed

[2016-10-31 16:26] j-ledoux commented on #73
Hi,
I tried to fix it on my fork, not sure if it's the proper way to do it, but it worked.
https://github.com/j-ledoux/application/commit/d22eb5afe642f81e126be8e670eba5b462998513

[2016-10-31 16:37] vpp commented on #73
Hi @j-ledoux, yeah it is one of options but it makes the underlying query to produce cartesian product of users (at this moment it is priduct of types by users): users x approvers x types.  That is OK when there are small number of users but when it grwos the memory footprint grows as well.
I was thinking to add approvers in separate query after the one you've updated is done.

[2016-11-03 17:22] #73 closed

[2016-11-04 13:14] enriquetoledano opened #74 "More than one LDAP server"
Hi:

As a request: I would like to be able to configure two (or more) LDAP servers, for high availability.

Thanks in advance!

[2016-11-07 13:20] enriquetoledano opened #75 "Translate the app into other languages"
It would be great to translate the app into other languages. I would help with the spanish language (I have it almost totally translated in my fork).
 Regards!

[2016-11-08 07:16] enriquetoledano opened #76 "Bug when creating leaves for next year"
Hi:

When a new leave request is created for the next year, the number of days used for the type is not checked against the max of allowed days of the type.

For example, if I have defined a type named "X" that has a max number of days of 1.
Let's suppose that I ask 1 day of type X for next year and it's granted. When I ask again for 1 day of type X for next year, the system let me ask for it, and

[2016-11-08 11:34] vpp commented on #76
Hi @enriquetoledano! Thank you for reporting this issue. I will have a look into it. It definitely a bug.

[2016-11-08 11:36] vpp commented on #75
Hi @enriquetoledano, that is very good idea and thank you for volunteering to help with Spanish version.

Let me put some framework in place so we can abstract out the language related content.

[2016-11-23 07:06] PatrickFist commented on #74
This would also help if I want only add specify OU's and not the global domain.

[2016-11-23 07:34] PatrickFist commented on #75
If needed I would help with german.

[2016-11-23 07:43] PatrickFist opened #82 "Add second approver"
We have teams/departments with up to 4 leads.
It is only possible to add a single approver per department.

I recommend at least a second approver per department.

[2016-11-23 07:52] PatrickFist opened #83 "Annual Exception"
Hi,

how to treat a annual exception? E.g. John.Doe changes 5 paid off days into cash money with his boss. This happens rarely but might happen. Would be great if the Option "Allowance adjustment per User" would reflect a adjustment by anno not general.
If I put him -5 today. He would have -5 again next year.

cheers :).

[2016-11-23 08:10] PatrickFist opened #84 "Missing vacation replacement approval"
Hi,

I would like to feature request to make it necessary a other Department Member has to be associated to a "New Absence" request who has also to approve the off time request and then it goes to the Department approver.

regards

[2016-11-23 12:15] vpp commented on #83
Hi @PatrickFist, good idea.

And needs to be consider this year. I will think about it.

[2016-11-23 12:18] vpp commented on #82
Hi @PatrickFist ,

true, it is feature is missing. There were some other people asking for similar thing.

I will move it to higher priority.

Thank you for reporting.

[2016-11-26 13:04] alexdrans opened #85 "'Fork me on Github' banner covers 'Sign up' button"
![image](https://cloud.githubusercontent.com/assets/2844540/20640550/f7e84a06-b3d8-11e6-914a-c01ef062959c.png)

Screen sizes sm and md

[2016-11-27 10:24] vpp commented on #85
hi @alexdrans! good spot, thank you!

[2016-11-29 20:04] vpp commented on #76
Fixed and deployed on TimeOff.Management.

@enriquetoledano, thank you again for reporting!

[2016-11-29 20:04] #76 closed

[2016-12-02 09:21] AsimPervez93 opened #86 "Amend Holiday Entitlement for individuals after User creation"
Hi There,

I'm currently evaluating timeoff-management in order to see if it would be suitable for our company of around 80 staff.  So far, it's looking brilliantly so thank you for making it open source.

We increase our staff's holiday entitlement by 1 extra day per year they've been with the company, can individual users' entitlement be increased manually once their user account has been create

[2016-12-02 10:52] vpp commented on #86
Hi @AsimPervez93,

The "Allowance adjustment" field on employee details page is a way to adjust allowance on individual basis.

When changing its value it is not necessary to enter new password. If password field is empty, system just ignore it.

So it is safe to save employee details without entering new values to email/password or any other attributes.

[2016-12-02 10:54] vpp commented on #86
We need to add feature of auto adjustments based on employment period.

[2016-12-02 10:55] AsimPervez93 commented on #86
Thanks for your reply.  When I click on the user Joe Bloggs, the details for a different user are autofilled.  Then when I take away the password and email address (as I dont want them to change), it will not let me save the changes.

![image](https://cloud.githubusercontent.com/assets/17923501/20831621/bd1130e2-b87d-11e6-9a09-5fbe554db0d2.png)

[2016-12-02 11:15] vpp commented on #86
@AsimPervez93, it sounds weird...

Maybe it is your browser automatically fills in email and password assuming that this is a login screen?

[2016-12-02 11:16] vpp commented on #86
I think we need to update the names of email and password fields on that page to avoid browser's confusion.

[2016-12-02 11:18] AsimPervez93 commented on #86
You're absolutely correct.  It was my browser auto filling the details and causing confusion.

I've been able to successfully adjust the allowance.

Thank you for your assistance.  I'm going to happily continue evaluating the system for our company.

[2016-12-02 11:20] vpp commented on #86
@AsimPervez93, cool!

Feel free to comment/suggest issues/ideas, your feedback is much appreciated.

[2016-12-02 15:59] vpp commented on #86
@AsimPervez93, just fyi, I've updated app to use different names for email and password form parameters. So browser does not confuse the edit/add user form anymore.

[2016-12-02 16:00] #86 closed

[2016-12-02 16:03] vpp opened #87 "Automatically extend annual allowance every year"
As per suggestion from #86 it would be good to have a feature when employees allowance is extended every year.

[2016-12-05 13:46] enriquetoledano commented on #82
I also think this is necesary.
In my case, I would need that the second approver were member of other department.

Thanks!

[2016-12-05 14:12] vpp commented on #82
Thanks @enriquetoledano, i will push the issue higher.

[2016-12-05 14:23] PatrickFist commented on #82
Sounds good, let me clarify following:

I hope to get two layers/tiers of approval. Three people will be involved:

- Holiday Requestor
- Holiday Replacement
- Supervisor Approval

Example:
**Tier1:**
Holiday Requestor
Holiday Replacement (some collegue confirming to take care of Requestors Jobs in the holiday time).
**Tier2:**
Supervisor A
Supervisor B

One Supervisor would be enough to approve t

[2016-12-05 14:53] vpp commented on #82
hi @PatrickFist, great description!

Such feedback is really appreciated.

I am going to look at this task after Timezones (#58) and Carry over to next year features are done.

[2016-12-08 10:36] AsimPervez93 commented on #61
I second this.  This would be brilliant.

[2016-12-08 10:51] vpp commented on #61
Thank you @AsimPervez93

[2016-12-13 10:58] AsimPervez93 opened #88 "Register New Company & Restore Links on Login Page"
Hi There,

Regarding the register new company and restore links on the login page, I can see that in the login.hbs there is the following line:

<div class="col-md-4">
      <p class="pull-right"><a href="/forgot-password/">Forgot password?</a> {{#if allow_create_new_accounts }} | <a href="/register/">Register new company</a> | <a href="/import-company/">Restore</a>{{/if}}</p>
</div>

So I'm wonde

[2016-12-13 11:42] vpp commented on #88
hi @AsimPervez93, the allow_create_new_accounts was recently added as some users do not want to allow multiple companies on their local installations. So they can hide the multitenant feature.

The "allow_create_new_accounts" flag is controlled via global config file. So in order to change the value one needs to update : https://github.com/timeoff-management/application/blob/master/config/app.json

[2016-12-13 12:04] vpp commented on #88
I just tweaked the code to always show "Restore" despite value of allow_create_new_accounts.

[2016-12-13 12:04] #88 closed

[2016-12-13 12:16] AsimPervez93 commented on #88
In my scenario, I am going to be the only person with authority to create new company's and restore so I do not want any other user to see those options.

I.e. I don't want the regular staff messing about with the restore funciton

[2016-12-13 12:31] vpp commented on #88
@AsimPervez93, they will not be able to export/iport company without "admin" rights.

If you want them to prevent register new companies just set  "allow_create_new_accounts" flag to be false in config/app.json

[2016-12-13 12:33] AsimPervez93 commented on #88
Ah I see.

I'll do as you suggested and amend the config/app.json to prevent registering new companies.

Thanks very much for your advice.

[2016-12-13 12:54] vpp commented on #88
no problems

[2016-12-14 15:47] vpp opened #89 "Allow to see allowance for next year"
Not only for current year.

[2016-12-15 16:27] vpp commented on #85
Hide "fork me" badge in sm and md screens.

[2016-12-15 16:27] #85 closed

[2016-12-16 11:22] AsimPervez93 commented on #13
This would be a welcomed feature.

[2016-12-16 11:26] AsimPervez93 opened #90 "Email Configuration & Testing"
I've been evaluating the system but have no email functionality.

After looking in the files am I correct in saying that the email configuration is set in /config/app.json?

If so, how can I test if the configuration entered is working correctly?

[2016-12-19 05:59] sawan1990 opened #91 "Test failing"
Here is one of the test but same error for all of the others

23) Register new user Check default registration path:
     Error: Waiting element to be located by By.cssSelector("h1")
Wait timed out after 1073ms

[2016-12-19 10:13] vpp commented on #90
hi @AsimPervez93,

Absolutely, the https://github.com/timeoff-management/application/blob/master/config/app.json is a config file to update. make sure that send_emails flag is set to be true alongside with correct credentials in email_transporter section.

Regarding confirmation of correct configuration: obvious way is to check that email is delivered, and check logs to miss any fatal errors.

[2016-12-19 10:16] vpp commented on #91
hi @sawan1990!

Interesting issue..

Looks very likely that application server was not started.

The main tests for the project are webdiver based high level integration tests that required  application with default settings to be up and running .

I think I need to mention it in README section.

[2016-12-19 10:25] AsimPervez93 commented on #90
Thanks for the reply.  I'll be testing email functionality with Exchange 2010 today and tomorrow.

[2016-12-21 09:39] #90 closed

[2016-12-21 09:42] vpp commented on #91
README was updated.

[2016-12-21 09:42] #91 closed

[2016-12-21 13:00] AsimPervez93 opened #92 "Secure with SSL"
Hi Pavlo,

I've set my instance to run on Ubuntu, I've also set a subdomain to redirect to my instance of Timeoff, which works correctly.

At the moment all traffic is through http, I'd like to secure this using SSL, are you aware of any problems I might encounter doing this or do you have any advice?

Kind Regards,

[2016-12-21 14:24] vpp commented on #92
hi @AsimPervez93!

I am not aware of any at this moment. Feel free to ping me if you have some problems.

[2016-12-21 17:05] AsimPervez93 commented on #92
Hi Pavlo,

I'm having some trouble understanding how to get node.js secured with SSL.  I've done some Google'ing but it only really gives information if you are creating an application, rather than securing an existing one.

Can you provide some guidance?

Kind Regards,

[2016-12-22 15:09] j-ledoux opened #93 "Improve teamview calendar half days rendering"
Hi guys,

Thanks again for this app, I love it !

I just wanted to report that the display of half days leaves on the calendar view is kind of weird, at first I thought it was a bug, but later I realized it was in fact half days leaves.
When the leaves are on the morning, day numbers are displayed in white on a white background so it's not easy to read. See the screenshot below:
<img width="613" a

[2016-12-22 15:48] vpp commented on #92
hi @AsimPervez93, I did not have chance to setup the app behind ssl yet, so not aware of any surprises that could surface..

There was a plan to setup ssl for publicly available timeoff.management application, but it is still in pipeline..

[2016-12-22 15:49] #92 closed

[2016-12-22 16:09] vpp opened #94 "Tweak when to show the Restore link."
Based on conversation with @nunorafaelrocha agreed to add extra logic: when the allow_create_new_accounts is set, to show the Restore link only if current installation does not have any companies.

Please refer to for more details:

https://github.com/timeoff-management/application/commit/2771144c86b61da80ff889435e70082544a77f9e

[2016-12-22 16:12] vpp commented on #93
hi @j-ledoux,

Thank you for reporting.

Your are absolutely right that the UX needs more love.

Within this ticket we are going to fix the issue you raised about rendering half days.

[2017-01-03 16:27] vpp opened #95 "Revokes of leaves in previous year"
Toreproduce the issue: update t/integration//leave_request_revoke.js test  to use 2016

[2017-01-04 17:29] vpp opened #96 "Add/edit employee page needs to carry over form values in case of errors"
When adding/editing an employee in case of form validation failures the values entered so far should be preserved.

[2017-01-05 10:14] nunocheto commented on #75
Hello Pavlo,

I can help translanting to Portuguese.

[2017-01-05 10:25] nunocheto opened #97 "Hour bank"
Leave a sugestion. To be possible to add a field to manage extra time hours that the employe does. And permit the employe to use that hours for holidays or sickness fault.

[2017-01-05 10:30] vpp opened #98 "Make start of the week configurable"
As was suggested in #59:

Start of the week needs to be configurable. E.g. Italy has Monday as a start of the week. US has Sanday.

[2017-01-05 10:32] vpp commented on #59
Configurable start of the week is going to be implemented in #98 ticket.

[2017-01-05 10:40] #59 closed

[2017-01-05 15:36] vpp opened #99 "Bulk import of employees"
Make sure following options are available:
* skip registration email
* fields to include: Name, Lastname, Department
* file format is CSV
* option to download template .CSV file

[2017-01-05 17:14] vpp opened #100 "Import bank holidays from google"
New dialog probably?

[2017-01-09 10:25] vpp opened #101 "Make sure page title have reasonable values"
Just to make GA to produce more comprehensive reports.

[2017-01-10 08:12] AsimPervez93 commented on #92
Hi Pavlo,

I trust you had a good Christmas and New Year?

The difficulty I'm facing at the moment is that in order to send emails, my hosting provider require that mail be sent through an SSL connection, therefore I can't test out email functionality until I have secured the application with SSL.

Could you possibly provide some guidance on how I could do this?

Kind Regards,

[2017-01-10 16:44] vpp opened #102 "Show summary by years"
Personal calendar should show statistics not only for current year.

It is should be possible to see statistics for custom year, the same way as it shows calendars for particular year.

Also user edit/details page should show statistics by years not only listening timeoffs.

[2017-01-11 17:16] vpp commented on #6
Consider naming feature "residual allowance"

[2017-01-13 07:40] enriquetoledano opened #103 "Date format selection bug: Bank Holidays"
Hi:

There's a bug in general settings page, related to the new feature of selection of date format. If I use the standard date format (YYYY-MM-DD), the bank holidays works perfect. But i**f I use another format, the bank holidays doesn't work at all**.
Let's see an example:
I start with (YYYY-MM-DD) and create the Labour Day (first of May) and it works correctly. In the DB it appears as 2017-05-0

[2017-01-13 08:30] enriquetoledano opened #104 "Date format selection bug: new absence"
Hi:

There's a bug using the date format DD/MM/YYYY. When I create a new leave request with one or more days (for example 01 May to 05 May) it fails:
![leavefail](https://cloud.githubusercontent.com/assets/22968312/21923123/8d1e5fb6-d972-11e6-8c18-0fe9743da49b.jpg)
I think there problem is in leave_request.js

Best regards

[2017-01-13 09:34] vpp commented on #104
Hi @enriquetoledano, thank you for reporting this issue.

I will have a look at it ASAP.

[2017-01-13 09:35] vpp commented on #103
hi @enriquetoledano

Really detailed description. I will have a look at it ASAP.

[2017-01-13 22:03] vpp commented on #103
Fixed and deployed on http://timeoff.management

[2017-01-16 07:21] enriquetoledano commented on #103
Hi:
When using date format DD/MM/YYYY, I still can't create a new bank holiday:

![bug](https://cloud.githubusercontent.com/assets/22968312/21973952/3fae5eee-dbc4-11e6-806f-a63025395014.png)

Best regards

[2017-01-16 09:57] vpp commented on #103
hi @enriquetoledano,

thank you for reporting it.

Looks like validator.js isDate is not happy with "random" date formats.

It happened that I checked the feature only on those formats that works with isDate...

I will refactore date validations throughout the application to take it into consideration.

Thank you again for your time and effort to report these problems. Btw, I am coding your scenar

[2017-01-17 13:37] AsimPervez93 opened #105 "Redirect port 443 https traffic to port 3000"
Hi There,

I've been trying to secure timeoff with https for a while now and have been unsuccessful.

I had to install apache2 and install a https certificate on it which works when I do 'https://ipGoesHere'

My next plan was to forward port 80 and 443 to port 3000.  I managed to use iptables to redirect port 80 to 3000 successfully.  But when I try and do the same for port 443, it doesnt work.  T

[2017-01-24 12:20] vpp opened #106 "Make application port number configurable via config file"
Allow to set the PORT number with config file in addition to environment variable.

[2017-01-31 11:25] AsimPervez93 commented on #106
Would this mean that the application wouldn't have to run on port 3000? You could run it on port 80?

[2017-01-31 11:31] vpp commented on #106
hi @AsimPervez93

This ticket to is enable defining listening port not only via environment variable PORT but via application config file as well.

[2017-01-31 11:33] AsimPervez93 commented on #106
Hi @vpp

If this could allow me define the port instead of 3000 to 80, then I'm thinking it might be easier to secure it with SSL.

[2017-01-31 11:36] vpp commented on #106
@AsimPervez93, yeah.

For instance with current implementation you can run

PORT=8080 npm start

And that should start the application to listen on port 8080 instead default 3000

[2017-01-31 11:37] AsimPervez93 commented on #106
I see!  I'll experiment to see if I can secure using SSL this way.

[2017-01-31 23:31] coreymgilmore opened #107 "Bank holiday dates subtract by 1 every time "save changes" is clicked."
Details:
Timezone: EST.
Browser: Chrome.

So I was updating the Bank Holidays that our company takes off for.  I noticed the days were not "sticking" and kept decreasing.  Removed all holidays, started with just one.  Every time I click "Save changes" the date changed.

Went into the code and started digging around...  Ended up in `settings.js`.  Inserted a `console.log(company.bank_holiday);` at

[2017-01-31 23:36] coreymgilmore commented on #107
I am working on a fix but haven't come up with one yet.  I want something all encompassing.

Possibly a "timezone" setting in "General Settings" that localizes all dates to where the company is located?

Possibly some way to save the datetimes in the DB as a localized timezone instead of as GMT?

[2017-02-01 10:25] vpp commented on #107
hi @coreymgilmore, thank you for such detailed description.

This is a problem indeed and there is a ticket in pipe line to address this (#58). I tried to crack on it but it is quite fundamental one so I decided to do one step at the time. Some preparation work was done and already in master (done as part of customisable date format).

The application assumes that it works with UTC time. So quick

[2017-02-01 17:04] coreymgilmore commented on #107
Possible solutions:
 - store datetimes in DB per the local timezone instead of using UTC.
 - Use JS to localize all times after page is loaded (put a class on anything that is a date and on page load read the date, localize it, write it back to the element).

[2017-02-01 17:18] jekuno commented on #100
Or simply import holidays from a public API such as https://holidayapi.com/ which has a Node.js API as well: https://github.com/joshtronic/node-holidayapi

[2017-02-01 17:22] jekuno commented on #104
I can confirm this bug.

[2017-02-01 17:30] vpp commented on #100
hi @jekuno!

thank you for those links

(I was not aware of this service)

[2017-02-01 17:30] vpp commented on #104
hi @jekuno,

the fix is still in progress..

[2017-02-01 17:33] jekuno opened #108 "Color days by leave type; colored bank holidays"
**Suggestion**:
* Allow to choose a custom color for each leave type at settings/general/leave types. Use this color in calendar and team view. This cleans up the UI (e.g. holidays can be recognized by green background color, illnesses by red background color).
* You could also colorize bank holidays (which can already be entered in the background) in calendar and team view. (I suppose that's why

[2017-02-03 21:59] coreymgilmore commented on #107
Quick and dirty fix....change the column type from "DATE" to "STRING" in db_design.txt and "DataTypes.DATE" to "DataTypes.STRING" in leave.js and bank_holiday.js.

It's not pretty(in the sense that dates aren't being stored in the db as dates) and it may cause other issues....but it works as of my testing.

Continuing to work on this and test...

[2017-02-03 22:23] coreymgilmore opened #110 "Replace md5 with sha256"
In user.js you are using `crypto.createHash('md5')`.  MD5 should no longer be used.  Use sha256 instead.  Note, this will break all existing installations unless user's reset their passwords.

[2017-02-07 12:24] vpp commented on #103
Should be fixed now,

[2017-02-07 12:24] #103 closed

[2017-02-07 12:25] vpp commented on #104
Should be fixed now.

[2017-02-07 12:25] #104 closed

[2017-02-08 08:48] AsimPervez93 opened #112 "Successfully Secured with SSL"
Hi Pavlo,

I just thought I'd update you that I've been able to secure the application with SSL.

Here's the lines of code I added to app.js
`var fs = require('fs'),
https = require('https'),

app = express();

https.createServer({
  key: fs.readFileSync('10.10.10.132.key'),
  cert: fs.readFileSync('10.10.10.132.cert')
}, app).listen(443);

//Redirect from http to https
var http = require('http');

[2017-02-08 09:38] vpp commented on #112
hi @AsimPervez93!

Thank you for sharing.

It came just in time as chrome started to moan about insecurity when login form is on non https page.. So TimeOff.Management needs to move to the https.

[2017-02-08 09:38] #112 closed

[2017-02-09 09:54] AsimPervez93 commented on #105
As mentioned in issue #112
I was successfully able to secure with SSL.

This issue can be closed.

[2017-02-09 09:54] #105 closed

[2017-02-09 10:14] AsimPervez93 commented on #90
Hi @vpp

I'm still having trouble setting this up with any mail service. I've tried with our Exchange server and I've also tried with out Shared Hosting email service and none are working.

Could you have a look at the code and maybe spot if I'm doing something wrong?

  "allow_create_new_accounts" : false,
  "send_emails"              : true,
  "application_sender_email" : "admin@1stintegrated.co

[2017-02-09 11:41] vpp commented on #90
hi  @AsimPervez93

The config chunk look OK.

Did you check the spam folder. Sometimes when sending host (elysium.krystal.co.uk) does not match host from sending email (1stintegrated.co.uk) such email messages are treated as spam.

[2017-02-13 09:05] AsimPervez93 opened #113 "Email Encryption?"
Hi @vpp,

I'm still having trouble getting email to work.  I know that my email host required all email to be encrypted or it will not work.

Are the emails from the app encrypted?  Is the email encryption different to securing the domain on SSL?

Kind Regards,

[2017-02-13 14:10] nnmalex opened #114 "Add option to count holidays per fiscal year"
Some companies count holidays and sick leaves in fiscal year (April 1 - March 31 in my case) rather than calendar years (Jan 1 - Dec 31).

[2017-02-13 14:24] vpp commented on #114
Fair point @nnmalex.

It is indeed worth making it configurable to set the company's start of the year date.

[2017-02-21 22:46] vfortsas commented on #75
Hello Pavlo!

As I told you in my email I can help translating in Greek. :)

[2017-02-22 10:28] AsimPervez93 commented on #113
I've sorted this out.  I had to add an extra line to app.json as below:

`{
  "allow_create_new_accounts" : true,
  "send_emails"              : false,
  "application_sender_email" : "email@test.com",
  "email_transporter" : {
    "host" : "localhost",
    "port" : 25,
    **"secure" : true,**
    "auth" : {
      "user" : "user",
      "pass" : "pass"
    }
  },
  "crypto_secret" : "!2~`HswpPPLa2

[2017-02-22 10:29] #113 closed

[2017-02-22 10:31] AsimPervez93 opened #115 "Holiday Allowance Don't Match"
Hi @vpp

I've created a user which has the following total allowance:
![image](https://cloud.githubusercontent.com/assets/17923501/23207648/ea84d428-f8e9-11e6-9473-1b2151ec823c.png)

However, the user is in the Sales group which has an allowance of 20:
![image](https://cloud.githubusercontent.com/assets/17923501/23207665/ff9d92be-f8e9-11e6-8d45-b156dcb376d0.png)

How come there is 2 days missing?

[2017-02-22 11:21] AsimPervez93 opened #116 "1 Day instead of 2 days"
Hi @vpp

I've just tried to request 2 days off and it's only taken 1 day.  Do you know why this is?
![image](https://cloud.githubusercontent.com/assets/17923501/23209428/1553fa74-f8f1-11e6-81dd-a770aa1d175d.png)

[2017-02-22 11:23] AsimPervez93 commented on #116
Nevermind, I figured out this was due to the fact that 25 december was a bank holiday in the system and it was only taking 1 day for 26 december.

[2017-02-22 11:23] #116 closed

[2017-02-22 11:45] AsimPervez93 commented on #87
Could I enquire when this will be ready to roll out?

Would it be possible to automatically extend annual allowance for every year the employee has been with the company?

i.e. I started in 10 July 2015, on 10 July 2016 my allowance went up by 1 and on 10 July 2017 it will go up by 1 again.

[2017-02-22 12:38] vpp commented on #113
hi @AsimPervez93, thank you for sharing.

I think this kind of info needs to be on some kind of wiki, or even as comments in config.

I will have a thought on how to not loose it.

[2017-02-22 12:40] vpp commented on #115
hi @AsimPervez93,

It is possible that start date for your user was not at immediate start of current year, so system calculated proportional allowance. Other option could be that user has manual adjustments.

[2017-02-22 12:43] vpp commented on #87
Yeah, this ticket is about the functionality you've just described.

TBH, I do not have any particular dates in mind. But your enquiry bumps priority.

[2017-02-23 12:22] hansg01 commented on #114
@vpp db schema for the table Companies has a column `start_of_new_year`, is that month index which can be changed?

[2017-02-23 13:47] vpp commented on #114
@hansg01, this is just a place where the start date is going to be stored. Unfortunately this is not respected in all calculations yet. So changes to the value will not have any effect.

[2017-02-24 15:53] #115 closed

[2017-02-24 15:54] AsimPervez93 opened #117 "Users able to change their passwords"
Hi @vpp

Just a feature request. It would be good if we could allow users to be able to change their passwords once they are logged in.

Kind Regards,
Asim Pervez

[2017-02-24 16:15] AsimPervez93 commented on #117
I know users can simply reset their password using forgot password but maybe it would be a nice feature for a future update if they could update their password within their profile.

[2017-02-27 09:38] AsimPervez93 opened #118 "Default Type of Leave to Holiday"
Hi @vpp

Is there a way I can default the Leave Type in the New Absence form to default to Holidays instead of alphabetical order?

![image](https://cloud.githubusercontent.com/assets/17923501/23356099/880fd33e-fcd0-11e6-9069-ae94ea7d05de.png)

Kind Regards,
Asim Pervez

[2017-02-27 14:20] AsimPervez93 opened #119 "No 'Default Date' Option in General Settings"
In my test instance I have the following options in General settings:

Company Name:
Country:
Date Format:

However, in my live instance, I don't have the Date Format option, only Company Name and Country.

Why might this be?

[2017-02-27 14:31] vpp commented on #119
hi @AsimPervez93,

Make sure your live instance has the most recent version of code.

Please ensure that you do following when updating code of live version:

https://github.com/timeoff-management/application#updating-existing-instance-with-new-code

[2017-02-27 14:40] AsimPervez93 commented on #119
Hi @vpp

I get stuck at the db update script with the following error:

Error: Cannot find module '/var/www/html/application/node_modules/.bin/sequelize'

[2017-02-27 19:30] vpp commented on #119
Hi AsimPervez93,

Consider running

npm install

Sent from my iPhone

[2017-02-27 20:22] sgusler opened #120 "Cancel pending PTO request"
Employees would like the ability to cancel PTO requests submitted in error while they're still in the pending status.

[2017-02-28 10:49] AsimPervez93 commented on #119
Hi @vpp

I tried that and still get the error at the db-update script:

[2017-02-28 11:02] vpp commented on #119
hi @AsimPervez93,

Do you have "node_modules" in the checkout directory?

If so can you send what directories are there?

The idea of the failing command is to run the "sequelize" file. Can you have quick look around to check if maybe it is in some other place?

[2017-02-28 11:05] vpp commented on #119
@AsimPervez93, one more point, for migrations the system uses the sequelize-cli tool:

http://docs.sequelizejs.com/en/v3/docs/migrations/#the-cli

Please check how they suggest to install it.

I've used local installation and it worked. Maybe you can consider global installation?

[2017-02-28 11:08] AsimPervez93 commented on #119
@vpp

I'm not sure what was causing this.  I ran apt-get update and apt-get upgrade, then restarted the machine.

Then ran npm install again and this seemed to have worked.  I successfully was able to update from git.  I know this has worked because the app.js has returned to default.

[2017-02-28 11:35] vpp commented on #119
@AsimPervez93

Does it mean that the issue is sorted?

[2017-02-28 11:36] AsimPervez93 commented on #119
@vpp

I'm just testing it just now.  I'll comment again in 15 mins or so once I've tested the Date format.

[2017-02-28 11:53] AsimPervez93 commented on #119
Hi @vpp

I get this error after logging in:

[2017-02-28 15:35] AsimPervez93 commented on #119
Hi @vpp

Again, I'm not sure what caused this but I was able to resolve it by deleting the entire application folder and restoring a backup version, then doing the npm install again, then updating the git files.

Since updating the files, I can confirm that the Date format is now present in the General Settings.

[2017-02-28 15:35] #119 closed

[2017-03-01 09:00] AsimPervez93 opened #121 "Email Sender From"
Hi @vpp

A feature request I have is that it would be good to set the From name of the email account in config/app.json as well as email address.

Kind Regards,
Asim Pervez

[2017-03-01 09:48] vpp commented on #120
Thank you, @sgusler for suggestion.

Looks reasonable and not hard to implement.

[2017-03-01 09:50] vpp commented on #121
hi Asim,

Good point.

[2017-03-01 16:15] AsimPervez93 opened #122 "Can't Adjust Allownace by Negative .5"
Hi @vpp

I've encountered an issue where I can't adjust the allowance by -8.5.  This user should have 16.5 days allowance but I can only give 16 or 17.  It won't allow me to do -8.5.

![image](https://cloud.githubusercontent.com/assets/17923501/23468926/06c4ff18-fe9a-11e6-806d-fd15e5dd61e9.png)

[2017-03-01 16:38] AsimPervez93 opened #123 "Can't See Remaining Allowance on Mobile"
Hi @vpp

Another recommendation is that you can't see the remaining allowance when on a mobile device. This would be brilliant if we could allow users to see their remaining balance on mobile.

![image](https://cloud.githubusercontent.com/assets/17923501/23470017/2ecbce8a-fe9d-11e6-924c-f3e3faab5728.png)

[2017-03-01 17:09] vpp commented on #122
Hi Asim,

Looks like an issue. I will investigate and update this ticket.

[2017-03-02 08:22] #117 closed

[2017-03-02 09:45] AsimPervez93 commented on #123
I can see that the restriction is that your screen width resolution must be 768px wide to display the "top-leave-type-statistics" element.  Could we modify this to display the allowance on smaller screens?

[2017-03-02 10:23] vpp commented on #117
Hi Asim,

It is reasonable feature.

Let's have this ticket opened.

[2017-03-12 09:34] vpp opened #124 "Add TOM link to awesome-selfhosted repo"
Create pull request with TOM to be be added into https://github.com/Kickball/awesome-selfhosted

[2017-03-17 13:41] obyone opened #125 "Automate the 'Export Company Data' function"
Is there any way of automating the 'Export Company Data' function to allow for a simple backup process?

[2017-03-18 20:16] #125 closed

[2017-03-18 23:29] vpp commented on #125
Hi obyobe,

There is no such feature at this moment.

As a workaround you can craft curl/wget call from cron including session id into cookies. Or if you use SQLite as database just copy/backup the DB file once in a while.

Thanks
Pavlo

[2017-03-23 09:16] AsimPervez93 opened #127 "Revoke Absences on a day-day basis"
Hi @vpp

I've just encountered another situation which I believe could be resolved for future builds.

I've requested 28/03/17 to 31/03/17, 4 days.  But I need to come in to work on 30/03/17 so at the moment I need to revoke all 4 days, then enter two seperate requests; 1 for 28/03/17 - 29/03/17 and another request for 31/03/17 - 31/03/17.

It would be good if I could revoke only 30/03/17 while ke

[2017-03-23 09:49] vpp commented on #127
hi Azim, really good point. The application needs to allow not only create and remove absences but amend them as well.

Lets keep this ticket to record that feature request.

[2017-03-23 16:09] AsimPervez93 commented on #127
Hi @vpp

Yes exactly, it would be great to be able to amend absences

[2017-03-23 22:39] obyone opened #128 "Calendar feed not showing all future holidays"
I'm not sure if this is my understanding of how calendar feeds work or whether it is a bug.

I have subscribed to the calendar feed by importing the url taken from the 'Feeds' menu under the 'Me' heading.  I can see the first months worth of holidays from all the team members but nothing after that.

Is this the intended behaviour or do I need to make a configuration change?

I would love to be ab

[2017-03-24 11:42] vpp commented on #128
hi @obyone,

Application has two feeds:
* My Calendar page - feeds all data from My Calendar page
* Team view page - feeds Team view data for current month

In your case it sounds like you have subscribed to the Team view feed, which shows current month only at this moment.

Maybe it is worth extending team view calendar feed to more then one month.

If you hosting the app you can play with this o

[2017-03-28 22:49] jekuno commented on #57
Fixed by #126

[2017-03-28 22:53] jekuno opened #130 "Adding user fails"
Adding a new user via /users/add/ fails with flash error `"Failed to add new user"`.

The log shows `An error occurred when trying to add new user account by user 1 : SequelizeDatabaseError: invalid input syntax for integer: ""`

Reason is that the app tries to set the column `adjustment` to `''`.
The form displayed in the UI doesn't contain any `adjustment` field.

I use PostgreSQL.

[2017-03-29 05:52] jekuno commented on #130
Additional info:

The  `allowance` for the assigned department is set to 28.
The default value for the `adjustment` column in my PostgreSQL database correctly is 0 and its data type is integer.

[2017-03-29 07:50] jekuno opened #132 "Allow special characters for bank holiday names"
In Germany there is a bank holiday called "Buß- und Bettag".

Trying to add this Bak Holiday gives the following error: `New name of New Bank Holiday should contain only letters and numbers`

As e.g. "Buß- und Bettag" is an official bank holiday name both umlauts and hyphens should be allowed for names of bank holidays.

[2017-03-29 11:58] jekuno opened #133 "Add comments by employee and approver"
**Expected:**
As an employee I can optionally enter a short comment why I request a leave (e.g. "Funeral grandma" or "Influenza" or "Hiking tour Norway").
As an approver I can optionally enter a short comment as well (e.g. "Enjoy your holiday!" or "Sorry, too much workload right now. Shift your leave by two weeks please.")

**Currently:**
Neither the employee nor the approver can add comments.
How

[2017-03-29 12:14] jekuno commented on #128
I agree it would be best if the Team View would at least cover a range of 2 years (1 year past and 1 year future). The preview is important for planning, the review helps to check who was off at which date or who e.g. participated in which offsite event.

[2017-03-29 13:03] jekuno commented on #128
@obyon: @vpp already pointed you to the correct place. Diving deeper you find that the place you will have to change is https://github.com/timeoff-management/application/blob/master/lib/model/db/department.js#L106

After looking at the source code I would suggest to reduce `CalendarMonth` to its bare minimum and to extract most of the prototype functions (such as `is_approved_leave` or `is_bank_ho

[2017-03-29 15:08] vpp commented on #130
Thanks for reporting @jekuno

[2017-03-29 15:09] vpp commented on #132
ouch..

Thanks for reporting

[2017-03-29 15:10] vpp commented on #133
Yeah, the storage part is done.

The problem was in how to render that data thats why it stuck.

Good point about this feature though.

[2017-03-30 09:56] jekuno opened #134 "Broken team view link"
The page /calendar/feeds/ contains a broken _Team view_ link (points to `teamview` instead of `calendar/teamview/`).

[2017-03-30 10:00] jekuno opened #135 "Missing links in mobile view"
The mobile menu contains the following links:
* Calendar
* New absence
* My requests
* Logout

The following links are missing:
* Team view (also see #136)
* Employees
* Feeds (useful for quickly subscribing to feeds with mobile calendar)

[2017-03-30 10:02] jekuno opened #136 "Mobile team view broken"
The team view on mobile phones currently breaks the employee names and their calendar entries into separate rows/regions making it hard to associate names with calendar entries.

[2017-03-30 13:13] vpp commented on #134
hi @jekuno, thank you for reporting, much appreciated.

Fixed.

[2017-03-30 13:13] #134 closed

[2017-03-30 13:19] vpp commented on #135
hi @jekuno.

Those pages were intentionally "hidden" in mobile view. As corresponding pages need to have special design to handle mobile devices view.

Mobile version of the application meant to allow just core functionality - allowing submit/decide request on the go.

Further improvements of mobil view would require the UX input (or references to examples where such information is rendered nicely

[2017-03-30 13:23] vpp commented on #136
hi @jekuno, the "Team view" page was not supposed to be viewed on mobile devices as it is "hidden" for them.

Please refer to #135 for more information.

[2017-03-30 13:23] #136 closed

[2017-03-30 13:55] vpp commented on #123
@AsimPervez93, thanks for suggestion.

Done.

[2017-03-30 13:55] #123 closed

[2017-03-30 14:04] jekuno commented on #136
Thanks for the info. As soon as the calendar team feed supports a sufficient range (IMHO best would be 1 year back and 1 year ahead, see https://github.com/timeoff-management/application/issues/128#issuecomment-290071334) one can simply integrate the "team view" into the native calendar of the mobile phone so that it indeed isn't needed in the mobile website.

[2017-03-30 14:08] jekuno commented on #135
Ok, I understand. I would at least suggest to add the **Feeds page** to the mobile view because it is useful for quickly subscribing to feeds with the native calendar of the mobile phone (also see https://github.com/timeoff-management/application/issues/136#issuecomment-290420719).

The feeds page is quite simple so a big UI redesign shouldn't be necessary for adding that page to mobile.

[2017-03-30 14:21] vpp commented on #135
Good point, and makes sense.

Moving back to progress :)

[2017-03-30 14:22] vpp commented on #136
Good argument toward idea you've mentioned in #128. Thank you @jekuno!

[2017-03-30 14:23] vpp commented on #128
Good point towards @jekuno's suggestion: https://github.com/timeoff-management/application/issues/136#issuecomment-290420719

[2017-03-30 20:45] jekuno opened #137 "Don't send mails for own actions"
When I confirm or reject a leave request I get an email with the message `You just processed leave request....`.

As an approver I know that I clicked the approve/reject button so I would prefer to _not_ receive an additional mail for this. (As most of us already get more than enough mails)

Did you implement this mail for documentary reasons so that it gets listed in the emails audit (/audit/emai

[2017-03-31 17:35] opswhisperer commented on #43
+1 Accrual should be in days per period or % per period.  Periods corresponding to pay cycles, monthly weekly bi-weekly

[2017-04-03 11:19] vpp commented on #132
Initially there was an idea to store only "clean" data in DB.

But then I changed mind and decided to go with approach: allow users to store any data they want as long as it is rendered in safe way. And handlebar does it nicely. So that should protect from XSS attacks.

Regarding SQL injections, sequalise should take care about it.

So now the app does not restrict users from submitting only parti

[2017-04-03 11:20] #132 closed

[2017-04-03 12:53] vpp commented on #130
Fixed in master.

[2017-04-03 12:53] #130 closed

[2017-04-03 12:56] vpp commented on #6
Held till next year.

[2017-04-03 12:59] vpp commented on #137
Related to #16

[2017-04-03 13:03] vpp commented on #137
The email audit is not substitution of reporting. One of its main reason TBH was to provide a mechanism to validate sent emails as part of integration tests, although no such tests exist yet.

Absolutely.

The reporting and auditing of settings changes and leave requests live cycles is still in pipeline.

@jekuno, thank you again for your thoughts! Please keep sending :)

[2017-04-04 13:11] vpp commented on #60
The point in description is going to be true only if START date is later then END one.

[2017-04-04 13:35] #57 closed

[2017-04-04 20:33] #60 closed

[2017-04-04 22:58] jekuno commented on #60
I think the request means the following:
If it's April currently and I want to add a leave request for October I select e.g. 10th of October as a start date and the end date gets set to 10th of October automatically so that I don't have to set the end date to October manually.

[2017-04-05 05:44] vpp commented on #60
Hi @jekuno,

This exactly how the feature was implemented recently.

[2017-04-05 06:45] jekuno commented on #60
All right! I thought you meant to reject the issue. ;)

[2017-04-05 08:57] vpp commented on #62
Got another customer who would like this feature.

[2017-04-06 09:24] vpp commented on #68
Done and in master

[2017-04-06 09:24] #68 closed

[2017-04-06 22:37] vpp opened #139 "Consider refactoring calendar cells"
Replace calendar cells from been implemented as two TDs into single one based.

To address half days consider applying same approach as here http://stackoverflow.com/questions/37719354/html-table-cell-partial-background-fill

[2017-04-07 10:16] vpp opened #140 "Disabling allowance for departments"
As per customer request:

As a quick solution lets introduce 0 allowance for departments.

[2017-04-10 12:28] nnmalex commented on #133
I plus this request. That would be very useful.

[2017-04-11 18:01] folhabranca opened #141 "License"
Is it possible to make the License more explicit?

[2017-04-12 09:29] AsimPervez93 commented on #82
@vpp

I know this is frequently asked as per the tag but I'd just like to express that I would find this very useful in my instance.

Kind Regards,

[2017-04-13 10:20] vpp commented on #38
Fixed

[2017-04-13 10:21] #38 closed

[2017-04-13 10:21] vpp commented on #140
Added option to have no allowance for departments.

[2017-04-13 10:21] #140 closed

[2017-04-13 10:23] vpp commented on #62
And one more customer who would like to have it.

[2017-04-13 15:55] kimaniidaniel opened #142 "NO EMAILS!"
I have configured the my SMTP email account settings in apps.json file and have verified that the email info works (by logging into webmail). Yet I DONOT get emails for the requests, revokes, etc. Furthermore every time I log a request, accept, revoke etc, I get a Red alert telling me "Failed to Reject" (or the specified action) although IT DOES complete the action. So I'm confused but I believe t

[2017-04-13 16:35] vpp commented on #142
Hi @kimaniidaniel,

Can you send parts of the application  logs that are produced when you perform any action that triggers email, such as requesting a time off.

You can email it to pavlo@timeoff.management if you like.

Thanks

[2017-04-13 16:38] kimaniidaniel commented on #142
Might be a dumb question but where is the application log?

[2017-04-13 16:42] vpp commented on #142
If you start the app with

non start

Then it is just in the same terminal

Sent from my iPhone

[2017-04-13 17:03] kimaniidaniel commented on #142
Sent via email

[2017-04-13 17:25] vpp commented on #142
@kimaniidaniel, I do not have experience running the app on the windows. But recently I had conversation with person who also experienced slightly different issues to your ones and we googled out following FoF thread  http://stackoverflow.com/questions/34393147/nodejs-nodemailer-iis-smtp-virtual-server and additional  that proved helpful for him.

Here is relevant part:

Hello Pavlo,

Thanks for y

[2017-04-13 17:28] vpp commented on #142
As in example of your logs the error is

Consider adding

to config as per SoF article from previous comment.

[2017-04-13 17:39] kimaniidaniel commented on #142
I tried the secure: false and it was still failing so after digging deeper into nodemailer SMTP doc (https://nodemailer.com/smtp/) I decided to try ignoreTLS: false also and that did the trick. so the full email config (with redacted sensitive info):

    "host": "************",
    "port": 25,
    "secure" : false,
    "ignoreTLS": true,
    "auth": {
      "user" : "*******",
      "pass" : "***

[2017-04-13 17:40] kimaniidaniel commented on #142
However!... the emails come with the body html in the subject of the email. How do I fix that, is there a template somewhere i can modify?

[2017-04-13 17:43] vpp commented on #142
Thank you for sharing the example of config, that would be very useful for other users.

[2017-04-13 17:43] vpp commented on #142
regarding emails templates have a look here https://github.com/timeoff-management/application/tree/master/views/email

[2017-04-13 17:45] vpp commented on #142
can you give more details about "body html in subject" as it sounds like bug (we recently updated emails to be html based so looks like that has an issue)?

[2017-04-13 18:11] kimaniidaniel commented on #142
Here are some screenshots (3), notice the subject has the body of the email
and the body has nothing.

[image: Inline image 3]

[image: Inline image 1]
[image: Inline image 2]

_________________________

*Kimanii G. Daniel MSc MCP*
www.kimaniidaniel.com
*m: 473.534.4003*

*Live - Love - Learn*

On Thu, Apr 13, 2017 at 1:45 PM, Pavlo <notifications@github.com> wrote:

[2017-04-13 18:18] vpp commented on #142
Unfortunately screenshots were not attached... maybe try to send them to email?

One more thing: do emails sent by installation at http://app.timeoff.management have the same issue?

Sent from my iPhone

[2017-04-13 21:09] kimaniidaniel commented on #142
Changing the regex on line 58 of lib/email.js to be more OS agnostic by introducing conditional regex of [\r\n] worked for me. I would like to know if it also works on *nix systems.

[2017-04-13 21:12] vpp commented on #142
@kimaniidaniel can you please check if this regex works on windows:

var subject_and_body = text.split(/\r?\n=====\r?\n/);

Sent from my iPhone

[2017-04-20 08:13] vpp commented on #142
Got reply from @kimaniidaniel that suggested regex works well on Windows.

Pushed the patch into master.

[2017-04-20 08:13] #142 closed

[2017-04-20 08:17] vpp commented on #41
One more person is interesting in this feature.

[2017-04-20 14:53] nnmalex opened #143 "Reports"
It would be very helpful if admin user could generate a CSV report of the absences for all users for a certain period of time for HR and Accounting purposes.

[2017-04-20 15:02] nnmalex commented on #139
It would also be good to show if there is an overlap in days, say requested leave starts on holiday. Currently holiday will cover the leave in the calendar completely.

[2017-04-20 15:26] vpp commented on #139
Hi @nnmalex,

Thanks for suggestion.

I think it is easy to achieve.

[2017-04-20 15:36] nnmalex commented on #143
Hi Pavlo,

I would think the following columns would be useful:

- Employee  name
- Department
- Absence type
- Absence duration
- Absence start date
- Absence end date
- Status

For every absence record (or for the selected one) for every employee (or for the selected one) for the selected period.

[2017-04-20 16:02] vpp commented on #139
@nnmalex can you please elaborate on this little bit more as looks like I did not get the point.

Initially I thought that it is matter of employee time off hides the public holiday if it stretches over it ( in calendar view ).

But it does not look like to be a case (as per attached screenshot)
<img width="283" alt="screen shot 2017-04-20 at 16 58 46" src="https://cloud.githubusercontent.com/asse

[2017-04-20 16:42] nnmalex commented on #139
It's the opposite: public holiday covers the time off. And if the time off period either starts or ends on a public holiday you won't see it.

[2017-04-24 11:24] vpp opened #144 "Consider adding mailgun support"
Make app to be configurable to send emails via https://www.mailgun.com/ API

[2017-04-25 13:46] vpp commented on #41
One more person asked for this

[2017-04-25 16:39] jekuno commented on #144
I already implemented this: https://github.com/timeoff-management/application/pull/129

[2017-04-25 17:07] vpp commented on #144
Hi @jekuno,

Fantastic!

Thank you for pointing this.

[2017-04-26 15:54] vpp commented on #84
Similar request:

[2017-04-26 16:21] vpp commented on #43
One more person is asking for this.

[2017-04-26 16:31] vpp commented on #133
One more person asked for this

[2017-04-26 17:15] rody8808 commented on #133
What about in the subject line of the email?

[2017-04-26 17:24] vpp commented on #133
Hi @rody8808,

Can you please elaborate little bit more, as it is not very clear to me.

Thanks
Pavlo

Sent from my iPhone

[2017-04-26 17:27] rody8808 commented on #133
With the extra field such as (reason) you could assign it to the subject line of the email sent to the supervisor.

From: Pavlo [mailto:notifications@github.com]
Sent: Wednesday, April 26, 2017 11:24 AM
To: timeoff-management/application <application@noreply.github.com>
Cc: Darren G. Brown <darren@nhb.org>; Mention <mention@noreply.github.com>
Subject: Re: [timeoff-management/application] Add comm

[2017-04-26 17:53] vpp commented on #133
Ah I see...

Absolutely!

Thank you @rody8808 for suggestion.

(we need to bare in mind that any free text could be exploited by spammers,
but in this case this is less likely to be an issue)

On 26 April 2017 at 18:27, rody8808 <notifications@github.com> wrote:

[2017-04-26 18:13] rody8808 commented on #133
It looks like it may work better on our own server with all the tweaks we need. I will run it on hosted for the 30 days and get feedback from everyone.

Thanks Darren

From: Pavlo [mailto:notifications@github.com]
Sent: Wednesday, April 26, 2017 11:54 AM
To: timeoff-management/application <application@noreply.github.com>
Cc: Darren G. Brown <darren@nhb.org>; Mention <mention@noreply.github.com>
Su

[2017-05-04 08:24] malesa opened #145 "Changing user password"
There is no option for changing a password. The password is entered during user creation by the admin, and I can't see any option to change it later by the user.

[2017-05-04 08:29] mladenmilev commented on #106
Guys be reasonable. Port of the application is defined by the app admin and for Node.JS is defined in the config file.  If you allow chaging hte port via Web you will need to reboot the server. What happens if the app upon rebooting the server on the new port cannot allocate it from the OS? You will get stuck and will need to remotely connect to the system.

I guess you will get into more problems

[2017-05-04 08:33] mladenmilev commented on #106
What I use in my simple Node.JS app with Express is

const express = require('express');
const app = express();

....
const PORT = 3100;

app.listen(PORT, function (err) {
    console.log("Application listening on port " + PORT);
}

[2017-05-04 08:34] mladenmilev commented on #75
I can also help with Portuguese (PT) and Bulgarian. Cheers.

[2017-05-04 13:22] mladenmilev commented on #145
True. I identified the same for non-admin users.

[2017-05-04 13:26] mladenmilev commented on #141
@folhabranca: Can you clarify the question?  Under what license the code is distributed?

[2017-05-04 13:28] mladenmilev commented on #120
I agree. I find this useful and required also, alse the yhave to bug the boss to reject their request and they create a new one.

[2017-05-07 07:32] vpp opened #146 "Pagination widget"
Create proper pagination widget.

Needs to hide redundant pages for long lists.

Use it on the email audit page first: https://app.timeoff.management/audit/email/

Ideally it needs to be like here https://bootsnipp.com/snippets/featured?page=17

Or at least like on GitHubs commits page with "Older" and "Newer" buttons: https://github.com/timeoff-management/application/commits/master

[2017-05-07 14:42] vpp commented on #62
Main code in master.

What is left:
* to finish automation second test scenario (see the definition in new file)
* refactore schedule setting UI into reusable sub-template

[2017-05-08 11:29] vpp commented on #120
Another customer complained about this annoyance.

[2017-05-08 11:53] vpp commented on #13
Similar to #85

[2017-05-08 11:54] vpp commented on #13
Similar to #82

[2017-05-08 11:56] vpp opened #147 "Bulk adding of leaves"
Consider adding feature where admin is able to import leaves by uploading cvs file with;

* email
* start date
* end date

[2017-05-09 14:39] vpp opened #148 "Auto approvals"
As suggested by customer

Probably we need to consider different content in emails.

Consider amending logic for adding leave requests by admin to be automatically approved.

[2017-05-09 16:19] vpp commented on #148
Regarding autoapproving requests done by managers, bare in mind:

Also consider allowing it not only for admins but for supervisers?..

[2017-05-10 05:58] vpp commented on #62
Work is finished.

[2017-05-10 05:58] #62 closed

[2017-05-12 09:16] thperret opened #149 "Official releases"
Hi,
We're using timeoff.management in our team and I have created a [docker image for timeoff](https://github.com/thperret/timeoff-management_docker). Could you create official releases by tagging corresponding commits? This would facilitate the image creation process.
There's also the license question #141, could you clarify that also?

Thanks for this great tool!

[2017-05-12 10:13] vpp commented on #149
hi @thperret

Thanks for suggestion.

I am definitely need to do this.

Can you please provide some examples of other projects on GitHub how you would prefer it to be done?

[2017-05-12 10:14] vpp commented on #141
I was thinking about MIT.

I will update the codebase to be clear on this point.

[2017-05-12 12:12] thperret commented on #149
I don't really have preferences, I would suggest to follow [github's release process](https://help.github.com/articles/creating-releases/) by just tagging commits and creating the corresponding release (and if possible signing them with a public PGP key) corresponding to version changes.

e.g.: you could tag 0.4.4 latest version change commit: `git tag -a [-s] 0.4.4 c476af3c627f2d86d4827504776cfa0

[2017-05-12 13:19] vpp commented on #149
Thank you, @thperret!

[2017-05-14 13:24] vpp commented on #43
Accrues are defined by:
* days to accrue on every period
* schedule (month, fortnight, months) and date

I think in case of TOM it will be days based rather then hours based and more likely on month base. Also the precision is going to be up to .5 day.

[2017-05-15 16:23] mapacheco-mml opened #150 "System subtracts by 1 the Absence Date"
Hello!

My name is Marcelo, I am from Brazil.

I have installed the last version (master) of the app on a Windows Server. But, when saving an absence, the system subtracts by 1 the date I have inputted (selected on the calendar component, in fact). So, for example, I placed 18th, May... and when checking my the calendar on Team View or even the Calendar page, the displayed date is 17th, May.

I ch

[2017-05-15 17:22] vpp commented on #150
Hi Marcelo,

Yeah, the problem is indeed because of time zones feature is missing in the application.

There is a ticket #58 to address that. It has quite high priority, and involves some work.. please keep an eye on it for updates.

There is "workaround" (it worked for some people): set time on the server where you run the app to be UTC. That might work be ok for you if your location is not far f

[2017-05-15 17:34] mapacheco-mml commented on #150
Hi Pavlo!

First of all, thank you so much for the quick feedback. Yeah, issues with time zones are always annoying and they take time to be solved.

Regarding the workaround, actually I did it before you answering this thread and it worked for us. I am gonna check if how we are supposed to handle such configuration in our server.

Have a good week!
Marcelo

[2017-05-15 19:03] vpp commented on #58
One more person reported this issue.

[2017-05-15 19:03] vpp commented on #150
Thank you Marcelo

I am closing this ticket as #58 will take care of the issue

[2017-05-15 19:03] #150 closed

[2017-05-15 19:09] vpp commented on #145
As per feedback comment

[2017-05-15 19:10] vpp commented on #61
More feedback about this:

[2017-05-15 19:13] vpp opened #151 "Supervisor should be able to add and procees leave on behalf of employee"
As per feedback:

That looks like bug and needs to be investigated. There should be even integration test that checks this scenario.

[2017-05-15 19:15] vpp opened #152 "Team view for long department names"
As per feedback:

[2017-05-15 19:16] vpp opened #153 "Team view UI improvements"
Consider following feedback:

[2017-05-15 19:17] vpp opened #154 "UI improvements"
Consider feedback:

[2017-05-15 19:18] vpp opened #155 "UI improvements: LDAP config page"
As per feedback:

[2017-05-15 19:20] vpp opened #156 "Consider showing non-approved leaves on team view page"
As per feedback:

[2017-05-15 19:21] vpp opened #157 "Report: working days"
As per feedback:

[2017-05-15 19:23] vpp opened #158 "Ideas of company org structures"
As per suggestions:

[2017-05-15 19:25] vpp opened #159 "UI improvements on calendar page"
As per feedback:

Consider improving "create leave" modal to render all information from that section

[2017-05-15 19:25] vpp opened #160 "Team view page UI improvements"
As per feedback:

[2017-05-15 19:34] vpp opened #161 "Calendar (dashboard) page UI improvements"
Consider duplicating "Leave request to approve" section form "Requests" page on "Calendar".

So as per feedback:

[2017-05-15 19:34] vpp commented on #161
Inspired by https://github.com/mladenmilev/timeoff/commit/4fb90ab3f81193ad3bcc94095ff50e13673852f7

[2017-05-16 12:47] mladenmilev commented on #120
Thinking again about this: different actions have different "_approvers_".

* Requesting absence: managers and manager deledates. Optionally auto approve.
* Canceling Approved absence: *self*; manager, delegated managers. Optionally auto approve.
* Canceling Pending Absence : *self*; manager, delegated managers. Optionally auto approve.

[2017-05-16 13:07] vpp commented on #120
hi @mladenmilev, was the last comment about multiple approvers? (#82)

[2017-05-16 14:32] mladenmilev commented on #120
@vpp yes, consider it towards #82. Should I delete my comment from this thread and add it to the other ?

[2017-05-16 14:58] vpp commented on #120
@mladenmilev, no worries, I will move it over

[2017-05-16 14:58] vpp commented on #82
As per feedback:

Thinking again about this: different actions have different "approvers".

* Requesting absence: managers and manager deledates. Optionally auto approve.
* Canceling Approved absence: self; manager, delegated managers. Optionally auto approve.
* Canceling Pending Absence : self; manager, delegated managers. Optionally auto approve.

[2017-05-17 14:16] vpp opened #162 "Idea about improving UI of Employee details section"
As per feedback:

![tom_idea](https://cloud.githubusercontent.com/assets/203539/26158444/ce1f6174-3b13-11e7-8b4f-cf830da03806.jpg)

and my reply

Consider updating UI

[2017-05-17 14:18] vpp opened #163 "Add extra column for employees list page"
As per feedback:

[2017-05-17 14:20] vpp opened #164 "Export of user list as .CSV"
As per feedback:

[2017-05-17 14:52] mladenmilev commented on #162
@vpp - Yes.  "Days remaining" field needs to be present in both sections and probably in many more sections :)

[2017-05-17 15:06] mladenmilev commented on #164
I suggested CSV as it is simple text file with "," or ";" as separator.
I see there are also Excel libs for exporting. Check this one which looks simple and has example how to create the excel in the memry buffer and directly stream it for download
https://www.npmjs.com/package/node-excel-export

[2017-05-18 14:21] AsimPervez93 opened #165 "List of errors at npm install"
I'm trying to update my installation to match github but after running the git fetch, I run sudo npm install and i get the below list of errors.

I'm led to believe that this is nothing to do with npm or node but more to do with the application.  Can you give any advice?

[2017-05-18 14:26] vpp opened #166 "Employees page and "days used" column"
The "days used" column does not respect revoked days off.

STR:

* approve new request
* and then revoke it (as admin)
* see that on the Employee page it is treated as approved invokation (used days already decremented)
** on other hand Absences section still treat the request as active one (which is true)

Very likely the code that build the employees list page does not check the revoke_pending s

[2017-05-18 15:05] vpp commented on #165
Interesting.

TBH, I do not see any references to the application.

Are you sure you use the same node version as one used when the app originally was installed?

Try to entirely remove node_modules directory and re-run npm install.

Sent from my iPhone

[2017-05-18 19:18] vpp commented on #120
The feature is in master under v0.5.0 tag.

[2017-05-18 19:21] vpp commented on #149
@thperret, I started to use GitHub releases workflow.

Please check https://github.com/timeoff-management/application/releases

Lets see how it goes.

[2017-05-18 19:21] vpp commented on #149
Closing this issue.

[2017-05-18 19:22] #149 closed

[2017-05-18 19:33] #120 closed

[2017-05-18 19:38] vpp commented on #40
Looks like this is not an issue any more.

Closing...

[2017-05-18 19:39] #40 closed

[2017-05-18 19:44] vpp commented on #82
Consider adding all "admins" as approvers.

[2017-05-18 19:45] vpp commented on #13
I am closing this issue as the work is going to be done under #82.

[2017-05-18 19:45] #13 closed

[2017-05-18 20:34] vpp commented on #163
Done in master.

[2017-05-18 20:34] #163 closed

[2017-05-19 07:34] AsimPervez93 commented on #165
Hi @vpp

I'm not sure what's causing this, I haven't been on the system since it was installed.  I'd still be using the same node version, I haven't updated it (I wouldn't even know how to without Google'ing it).  I did some digging on Google and had already tried removing the node_modules directory and trying again, here's the outcome of that:

[2017-05-19 10:22] AsimPervez93 commented on #165
I found something on another repository which might be what's happening here:
https://github.com/websockets/bufferutil/issues/22

Installing out of date dependencies, do you have any idea how to install the up to date ones?

[2017-05-19 10:26] vpp commented on #165
@AsimPervez93, have you tried to start an app?

npm start

[2017-05-19 10:28] AsimPervez93 commented on #165
@vpp I got this in the middle of trying to make my version up to date with the git version.

I ran git fetch and was running npm install and then going to do the db-update script.

Are you saying to skip the db-script and try and run the app anyway? Or ignore the npm install errors and do the db-update and then run the app?

[2017-05-19 10:28] vpp commented on #148
Got similar request from one of biggest users.

[2017-05-19 10:40] vpp commented on #165
just ignore the noise from "npm install"

Also make sure you have your database backup before running "db-update"!

(if you have SQLite just copy the .sql file somewhere safe)

[2017-05-19 10:47] AsimPervez93 commented on #165
I get the below error when running the db-update script:

asim@vUbuntu:/var/www/html/application$ sudo npm run-script db-update

Sequelize [Node: 4.2.6, CLI: 2.7.0, ORM: 3.30.4]

Loaded configuration file "config/db.json".
Using environment "development".
== 20170103144054-add_default_date_format: migrating =======
{ [SequelizeDatabaseError: SQLITE_ERROR: duplicate column name: date_format]
  name

[2017-05-19 10:51] vpp commented on #165
hm

[2017-05-19 10:54] vpp commented on #165
These migrations are not really done well at this point and need to be updated, sorry about this (they should take care if the change to be introduced are already introduced).

Anyway try to put "return 1" here https://github.com/timeoff-management/application/blob/master/migrations/20170103144054-add_default_date_format.js#L4 and re-run the migration

[2017-05-19 10:56] vpp commented on #165
If it still fails, try to remove the migrations/20170103144054-add_default_date_format.js file and re-run the migration

Looks like your checkout has the date_format column anyway.

[2017-05-19 14:34] mladenmilev commented on #161
I was thinking about this and might not be the best approach.

User shold know there are pending requests (via some hint) but big number of requests will occupies whole screen.

Probably a hint meesage upon login and a more visible link towards requests approval page on top header is more adequate.

[2017-05-19 14:46] vpp commented on #161
I was also thinking of having red badge next to 'Me' menu item with number of unprocessed requests.

[2017-05-20 19:07] vpp commented on #166
Fixed and pushed into master.

[2017-05-20 19:07] #166 closed

[2017-05-22 09:02] AsimPervez93 commented on #165
@vpp removing the migrations/20170103144054-add_default_date_format.js and re-running the migration worked.

I then started the app and it worked.

This was all on the test instance, I'll be doing a git fetch update on my live installation later this week so hopefully I don't run into issues.

To summarise, if I get errors doing the npm install then ignore them and carry on to the db-update.

[2017-05-22 09:26] vpp commented on #165
@AsimPervez93, pretty much it.

YThe dependancies are quite behind the current versions that is why there is noise... They needs to be updated, but I do not have time to devote on this - as pushing hard to get some features users need... But this needs to be done at some point.

Regarding migration mess: that needs to be fixed as well, I use mechanism defined here http://docs.sequelizejs.com/manua

[2017-05-22 09:28] vpp opened #167 "Migrations to be multiple execution tolerant"
As per #165 there was an issue with migration was executed on DB in state that do not need it.

Consider implementing one of options from above. Currently I am leaning toward seeding DB at creation point.

[2017-05-22 14:18] mladenmilev commented on #161
Check out other implementation: https://github.com/mladenmilev/timeoff/commit/389beec24c5b258680e4a7269cce37c68201d4ec

Of course it can be always improved, step by step. Yet this one implements the simple requirement for easy access to pending requests.

[2017-05-22 15:01] mladenmilev commented on #19
This is implemented by the proposed code  for  https://github.com/timeoff-management/application/issues/161

[2017-05-22 15:32] vpp commented on #161
Thank you @mladenmilev

[2017-05-23 12:33] mladenmilev commented on #159
Implemented by this commit https://github.com/mladenmilev/timeoff/commit/bb674095c218da15e82d434102e5b2521e153ae5

[2017-05-23 12:35] mladenmilev commented on #152
Simple solution to overcome this problem is to reorganize components like this

[2017-05-23 12:35] mladenmilev commented on #152
https://github.com/mladenmilev/timeoff/commit/82d03e55e7db42aa51bbc956b3d9f2e7b3bf1620

[2017-05-23 12:37] mladenmilev commented on #143
This might be related with https://github.com/timeoff-management/application/issues/164

[2017-05-23 12:37] mladenmilev commented on #164
consider also https://github.com/timeoff-management/application/issues/143

[2017-05-23 13:14] mladenmilev commented on #63
Weekends do have different backgound in current version 0.5.0
Nothing to do for this ticket.

[2017-05-29 21:06] folhabranca commented on #141
yes, even if the timeoff.management site says it is an open source project, there is nothing regarding distribution and usage in the github repo.

[2017-05-30 20:30] vpp commented on #141
Added license to master branch.

[2017-05-30 20:30] #141 closed

[2017-05-30 20:35] vpp commented on #167
Done as part of #148.

Contrary to initial plan of seeding DB (with records in sequelizemeta table) I decided to go with migrations that tolerate multiple execution.

Why? Just being lazy...

[2017-05-30 20:35] #167 closed

[2017-05-30 20:38] vpp commented on #165
Tweaked migrations to tolerate multiple execution as part of #148.

I am closing current ticket.

[2017-05-30 20:38] #165 closed

[2017-06-01 07:32] vpp opened #168 "Improvement of emails content"
Consider changing wordings emails as per https://github.com/YulioTech/timeoff/commit/5bf8f3d07fbf3c741d9918b236354db6fcaa04af

[2017-06-05 09:11] vpp opened #170 "Add feeds for particular filters"

[2017-06-05 09:13] vpp commented on #170
Should not be very hard to add this extra feature, the main thing as always UI.

[2017-06-06 19:40] vpp commented on #148
New "auto approve" flag was added to the Employee details page.

Patch was merged into "master" (as v0.6.2).

[2017-06-06 19:40] #148 closed

[2017-06-07 08:44] vpp opened #171 "Consider improvement of tabular data"
Consider applying of some ideas from this blog post https://uxdesign.cc/design-better-data-tables-4ecc99d23356

[2017-06-07 09:46] vpp commented on #58
Use branch *YulioTech-bug-fix-timezone-logic* derived from pull request created by @gerrypower as a base.

What still is needed:

* introduce UTC offset attribute on company level
* use the offset when calculating current date to show on teamview/calendar
* use offset to render timestamp based dates, like in Email audit. In fact all "created_at" and "updated_at" whenever they are rendered to the e

[2017-06-07 17:55] net-architect commented on #133
I second this... please can you add the feature / will this be implemented soon?

Thanks
Mark

[2017-06-09 06:09] vpp commented on #100
It appeared that holidayapi.com has quite expensive package to suite our needs so probably worth re-using some other resources as http://www.officeholidays.com/countries/index.php

[2017-06-09 08:36] jekuno commented on #100
Oh sorry, I thought holidayapi.com was a free service. It seems as if officeholidays.com doesn't offer an API, does it?

[2017-06-09 08:40] vpp commented on #100
The holidayapi.com offers free historical data..

I was thinking scraping officeholidays.com, not sure about there license though... This needs to be clarified.

[2017-06-09 08:45] jekuno commented on #100
I think in the long run we need a reliable API because dates of certain holidays differ from year to year. So you would have to scrape the website on a regular base which is very error prone (will break sooner or later).

[2017-06-09 09:09] vpp commented on #100
Absolutely!

I just had an idea to allow customers to use https://holidayapi.com/ by purchasing their API token and linking it to the TimeOff.management account.

I need to elaborate on this more.

[2017-06-09 09:25] jekuno commented on #100
You're right it's quite expensive. Only big companies will be willing to spend $135 a year just for receiving maybe 20 dates per year.

Maybe there are free alternatives which offer an API?

[2017-06-09 09:34] vpp commented on #100
For instance this does not promise easy ride: https://opendata.stackexchange.com/questions/1926/list-of-public-holidays-by-countries

[2017-06-09 09:43] jekuno commented on #100
https://github.com/novafloss/workalendar looks interesting.

[2017-06-09 10:15] vpp commented on #100
yeah

[2017-06-12 12:19] vpp commented on #41
One more important customer asked for this

[2017-06-13 08:45] vpp opened #173 "Open book holiday modal on calendar cell click"
Also add some mouse over highlighhts with code

function get_partner_cell(e) {
    var cell = e.currentTarget;
    var $cells = $(cell);
    if ($cells.is(":nth-child(odd)")) {
        $cells = $cells.add($cells.next());
    } else {
        $cells = $cells.add($cells.prev());
    }
    return $cells
}

jQuery("td").on("mouseover", function(e) {
    var $cells = get_partner_cell(e);
    $cells.css

[2017-06-16 11:57] vpp opened #174 "Issues with LDAP auth"
hey, im having trouble with the LDAP setup.  I fed in our info (server, pass, binddn and search base), but when i put in my email auth pass, its saying that the password is invalid.  our information is like this:
server: ldap://X.X.X.X:X
binddn: CN=ldap.auth,DC=XXX,DC=local
searchbase: DC=XXXX,DC=local

Is there anything i'm missing?  Usually we log into active directory with firstname.lastname an

[2017-06-16 11:59] vpp commented on #174
We need to know if "Enable LDAP authentication" flag was turned on on the account.

[2017-06-16 14:51] jessewallace commented on #174
It was; we did figure it out.  In our case, it was a local LDAP, and we had to pass in credentials a certain way.

The BindDN had to be domain\ldap.auth
It took lots of tinkering to figure that out :)

Thanks for the response, hopefully this helps someone!

[2017-06-16 15:42] vpp commented on #174
Thank you @jessewallace for reporting the fix.

[2017-06-16 15:47] #174 closed

[2017-06-20 16:12] SmoresGuy opened #175 "Request Dates do not match Requested Dates"
Steps to Reproduce

1. Click Add Request
2. Enter request for Employee with Desired Date
3.  Click Create
4. Review Requests

Expect Result: Request should be showing with Dates requested by the employee on request.
Actual Result: Request is showing request on day _Earlier_ than the actual request.
![image](https://user-images.githubusercontent.com/13749952/27343644-8751f1ae-55b1-11e7-872a-f4f7327

[2017-06-20 16:35] vpp commented on #175
hi @SmoresGuy

thank you for reporting, I suspect you are in very different time zone then Europe.

The issue should be fixed after #58 ticket is fixed.

[2017-06-20 16:47] SmoresGuy commented on #175
@vpp You are correct, I am in Canada, specifically Eastern Time Zone.

[2017-06-20 16:55] vpp commented on #175
As workaround you can set the time of the machine that runs the app to. E either UTC or GMT (it it is convenient). Although there will be some issues when you open the app at the point that in Europe it is next day but Canada is still on current one.

Sent from my iPhone

[2017-07-14 13:06] filipjonckers commented on #108
This would make the app much more usable indeed.
- add custom color selection widget per leave type
- show custom color in calendar and team view and request handler
(different colors for sick days, work from home, training/course,  other office, etc...)
We still use excel (yes grrr) due to the auto coloring feature ...
This would dramatically open up the usage of the app to not only leave days bu

[2017-07-14 14:17] filipjonckers commented on #108
Just noticed that a color field is available in the sqlite database in the LeaveTypes table which is - I assume - connected to this ?
I changed the field value but it's not used yet.

[2017-07-14 14:27] vpp commented on #108
hi @filipjonckers, yeah, there was some ground work done to bring this feature in, but it is not quite ready yet.

[2017-07-20 15:55] vpp opened #176 "Allow leave types to be "hidden""
It is impossible to "retire" leave type if it was already used for some leaves.

The suggestion is to create a flag on leave type "active" that controls whether the leave type is shown in a list of available types for new leaves.

Inspired by this customer feedback:

[2017-07-26 16:30] vpp opened #177 "Auto approve leaves added by managers"
When manager/approver adds leave on behalf of employee autoapprove it regardless user settings.

As per customer feedback:

[2017-07-26 16:32] vpp commented on #16
Some customer feedback related to this ticket:

[2017-07-28 15:15] bigheadsmith opened #178 "Allowance adjustment issue"
Allowance cannot be changed by a negative half point (i.e. -1.5)
Get error "New allowance adjustment of user should be either whole integer number or with half"

Adjustment by positive .5 and whole negative numbers works fine

[2017-07-28 15:23] bigheadsmith commented on #178
sorry I have just realised this is a duplicate of an issue that someone else has reported

[2017-07-28 15:23] #178 closed

[2017-07-28 15:37] bigheadsmith commented on #122
I have encountered the same issue. Reported it before realising I was creating a duplicate.
I have closed the duplicate issue now.

[2017-07-28 16:32] vpp commented on #122
@bigheadsmith thank you for reporting

[2017-07-31 15:48] GalenY commented on #122
I have just encountered the same issue. Negative adjustments won't work unless they are whole integers.

[2017-07-31 16:33] vpp commented on #122
Thank you @GalenY for reporting.

I just pushed the fix to the master.

The cloud version will catch up later.

[2017-07-31 16:34] #122 closed

[2017-07-31 19:24] vpp commented on #122
Deployed fix on timeoff.management

[2017-08-01 16:25] vpp commented on #43
One more person asked for the feature:

[2017-08-02 09:23] vpp commented on #43
Let David (email from 1 Aug) know when the feature is done.

[2017-08-07 10:24] bigheadsmith commented on #108
Agree with @filipjonckers, this feature would make the app much easier to use as we too currently use different colours in excel to give a visual key for different leave types (holiday, sickness, maternity/paternity, etc).
I could get the colours to show in the General Setting page, but I do not have enough knowledge (yet!) of nodejs to get them to show on calendar view.

[2017-08-07 10:44] vpp commented on #108
@bigheadsmith thanks for feedback.

One of the issues for me (as I am not good front-end/designer person) would be to come up with about 10 colors that could be used as options for the leave tyoes highlights. That was one of the reasons why this feature stalled.

I would appreciate any suggestions (and examples) about colors to use in the app that would fit the existing colour schema.

[2017-08-07 14:04] bigheadsmith commented on #108
Hi @vpp,
I'm not great at coming up with colours. A colour picker for the leave types would probably work best then the end user can choose whatever they like to use for each leave type, but I would have no idea how difficult this would be for you to implement.

I will give it a go though. My colour suggestions are below, forgive me as I mentioned I am in no way a designer or arty in any way

- Us

[2017-08-11 14:29] nnmalex commented on #114
Hello @vpp,

Is this a difficult fix? I didn’t look into code for this yet but from the top of your head can this be hard coded on a certain app instance easier than implementing as a feature?

[2017-08-11 15:01] vpp commented on #114
It is doable but not trivial unfortunately.

Simple grep and replace would not work as one needs manually update code like this

https://github.com/timeoff-management/application/blob/master/lib/model/mixin/user/absence_aware.js#L194

[2017-08-11 15:04] vpp commented on #114
It is not big set of places though:
[code]

[2017-08-11 16:19] nnmalex commented on #114
Will check it out, thanks!

[2017-08-15 14:06] vpp commented on #43
One more person asked for the feature

[2017-08-15 14:20] darntough commented on #43
I too am interested in this.  It would be SUPER!  Also if it could use hours instead of days.  If you guys need help, I'd be more than happy to poke around the code...

[2017-08-15 14:55] vpp commented on #43
Thank you @darntough

[2017-08-21 13:44] jekuno commented on #175
Probably a related bug:

After adding a leave request for 2017-09-01 I cannot add another leave request for 2017-08-31.
The (wrong) error message is: "Failed to create a leave request. Overlapping booking!"

Timezone Berlin / Europe.

[2017-08-21 14:31] vpp commented on #175
hi @jekuno this bug should not manifest itself in Europe's timezones.

Are you sure that new failing leave request is not overlaps with any other leaves? Maybe the other one is not approved yet? Or maybe it has halfs?

For instance what does this query returns for the database:

select id, status, userId, date_start, date_end, day_part_start, day_part_end  from leaves where date_start  > '2017-08-

[2017-08-21 14:47] jekuno commented on #175
It returns one row with:
`37;1;2;"2017-09-01 00:00:00+00";"2017-09-01 00:00:00+00";1;1`

[2017-08-21 15:27] vpp commented on #175
@jekuno, I failed to reproduce issue, but after looking around code at https://github.com/timeoff-management/application/blob/master/lib/model/mixin/user/absence_aware.js#L127 it is indeed very likely that this is a manifestation of current issue (assuming your server is in Berlin's time zone, actually you pointed it above).

The timezones issue is next I am going to pick up. There is a brach wher

[2017-08-21 17:06] jekuno commented on #175
Creating a leave from 31 Aug - 1 Sep unfortunately is no option as the two timeoffs have different leave types. As I don't have access to the server config I'll wait for your release then.

Thanks for investigating this issue.

[2017-08-23 12:45] AsimPervez93 opened #179 "Can't Export Company Data"
Hi @vpp

I'm having an issue where when trying to Export company data (I wan't to move the instance of timeoff to a different linux machine) I'm getting a 504 error.

Exporting:
![image](https://user-images.githubusercontent.com/17923501/29616384-39d43e02-8809-11e7-892d-d5b0a0493a2d.png)

Error:
![image](https://user-images.githubusercontent.com/17923501/29616393-42d267cc-8809-11e7-9fa1-f02b3699bd

[2017-08-23 15:35] vpp commented on #179
Hi @AsimPervez93

Thank you for reporting, I will have a look soon.

[2017-09-05 15:23] filipjonckers commented on #108
Hi @vpp !

I would keep it simple - let the administrator choose their own colors (most flexible option, short development time).
At this time I would even say that a simple string input of a hexadecimal RGB value would be sufficient.
If you want to make it a bit fancier, show the color field in the same background color.

Example:
![example](https://user-images.githubusercontent.com/3816316/30068

[2017-09-05 15:26] vpp commented on #108
@filipjonckers fair suggestion

[2017-09-11 15:14] vpp opened #181 "Add recurring bank holidays"
As per suggestion of one of customer it would be good to have recurrent bank holidays: introduce flag that would indicate if the holidays is going to be repeated next years at the same date.

[2017-09-18 11:47] HonzaTuron opened #184 "Month absence summary for each employee"
Hey @vpp and thank you for your great app!

I'm looking for month summary of absences (for each leave type) for each employee. Is this functionality somewhere available or it needed to be implemented?

I have a vision about this sort of informations in team view:
![image](https://user-images.githubusercontent.com/20155254/30540523-d1d9f340-9c77-11e7-914f-74579f9857d5.png)
E.g. somewhere between na

[2017-09-18 14:32] petrvecera commented on #184
This is quite critical feature for us (our accountant). If it's not anywhere we will implement it and add PR ;-)

[2017-09-21 08:27] AsimPervez93 commented on #184
I can third this.

[2017-09-21 08:28] AsimPervez93 commented on #179
Hi @vpp

Has there been any movement on this issue?

I'm really wanting to migrate Timeoff from our local server to AWS and I'd need to export and import to do that.

Hope to hear from you soon.
Asim

[2017-09-21 09:28] vpp commented on #179
hi @AsimPervez93 sorry was busy with other stuff.

I will have a look for you this week, hopefully it is not big deal as I suspect the issue is that import logic is not aware of recent schema changes.

[2017-09-21 09:30] AsimPervez93 commented on #179
@vpp

No problem at all!  Hopefully shouldn't be too difficult.  Looking at the above excerpt, I initially thought it was a memory issue but I'm not too sure.  Hopefully your suspicion is correct.

[2017-09-22 06:17] vpp commented on #179
hi @AsimPervez93

I just checked current version and it looks OK to export company details to another installation. There are some minor missing entities like email audit and schedule, but apart from this the export should be fine.

Very likely that as per  your suggestion in your case it just happened that process does not have enough memory to build the JSON file.

Maybe it is worth trying to ex

[2017-09-22 08:12] AsimPervez93 commented on #179
@vpp
I got a similar out of memory error when I tried after closing and restarting the application. I don't imagine my application is up to date, would it be possible to move the db file to a newer version?

[2017-09-22 08:42] vpp commented on #179
hi @AsimPervez93, moving DB file should do the trick.

* do fresh checkout from master on new place
* copy DB file over to new place
* copy config file over to new place (if you updated default values)
* on new place "npm install"
* on new place "npm run-script db-update"
* and then finally "npm start"

The steps above should do the job.

[2017-09-22 08:52] AsimPervez93 commented on #179
@vpp
It looks like I'm going to have to do that.  May be a dumb question but where is the db saved?

[2017-09-22 09:02] vpp commented on #179
If you use default settings there should be file "db.development.sqlite" in the root of checkout

[2017-09-22 09:16] AsimPervez93 commented on #179
Found it.

I'll give this a go and post another comment once It's done.  Might be early next week-ish.

Thanks @vpp

[2017-10-05 20:02] vpp opened #185 "Superviser needs to see supervisee details even if she is not an adminuser"

[2017-10-15 12:29] vpp opened #187 "Next year holidays with limited leave type"
Consider setup:

Company has two leave types
 * "limited" no more then 1 per year (use allowance OFF )
 * "unlimited" (use allowance is ON)

An employee X has one "Limited" holiday within this year.

Employee tries to add new request of either Limited or Unlimited type next year system shows an error of 'Requested absence is longer than remaining allowance' which is INCORRECT.

[2017-10-15 12:32] vpp commented on #187
Update Brian when it is fixed.

[2017-10-19 14:37] vpp commented on #187
After investigating the issue with account of client who reported it, it appeared that they use the "unusual setup" - they do not use department allowances and solely rely on individual employees' allowance adjustments. Which in general reasonable enough.

However the application have some assumption when calculating available allowance during placing new timeoff request: it assumes that employee

[2017-10-19 15:12] #187 closed

[2017-10-19 16:18] vpp opened #188 "No date picker on Team view"
When one opens Team view page and invoke Book timeoff modal and click on Start date filed, the date picker is not displayed properly.

This happens only in team view page.

[2017-10-23 10:28] cprashant1 opened #189 "SMTP setting not working"
I tries our company SMTP detail mail not worked . I tried Gmail SMTP still it is not working
I am getting the error Failed to create a leave request. where can i see complete logs ?
I am using below settings

"allow_create_new_accounts" : false,
  "send_emails"              : true,
  "application_sender_email" : "My Mail",
  "email_transporter" : {
    "host" : "smtp.gmail.com",
    "port" : 465,

[2017-10-24 10:06] HyperSquiZ commented on #189
I had to add an extra line to tell nodemailer to use ssl.  Also if your email account is using two factor you will have to create an app password to use, or if its not using two factor you need to enable "less secure apps" (https://myaccount.google.com/lesssecureapps)

"allow_create_new_accounts" : false,
"send_emails" : true,
"application_sender_email" : "My Mail",
"email_transporter" : {
"host"

[2017-10-24 10:09] vpp commented on #189
@HyperSquiZ, thank you for sharing about email settings.

@cprashant1 hope the above suggestion works for your setup.

[2017-10-24 11:13] cprashant1 commented on #189
Thanks , can you tell me where can i see logs for any failure ? also i want to work with our company's Outlook 365

{
  "allow_create_new_accounts" : true,
  "send_emails"              : true,
  "application_sender_email" : "Timeoff@test.com",
  "email_transporter" : {
    "host" : "outlook.office365.com",
    "port" : 587,
	"secure" : true,
	"ignoreTLS": false,
    "auth" : {
      "user" : "Time

[2017-10-24 11:24] vpp commented on #189
With default settings they just go to STDOUT, so if you "npm start" from your console app would just keep spiting log messages into that terminal session. If you want to herd those messages into files you have to redirect the STDOUT and STDERR into those files. E.g. `node bin/wwww_cluster >> /log_dir_path/log/all.log  2>&1`

[2017-10-24 12:49] cprashant1 commented on #189
Thanks it worked with Gmail. but i am still facing issue with our company's office 365 account

I turned on TLS flag to true since 587 is TLS port but still it doent work , any idea ?
{
"allow_create_new_accounts" : true,
"send_emails" : true,
"application_sender_email" : "Timeoff@test.com",
"email_transporter" : {
"host" : "outlook.office365.com",
"port" : 587,
"secure" : true,
"ignoreTLS": false

[2017-10-24 13:03] HyperSquiZ commented on #189
I believe the secure option is only true for port 465.  If using port 587 I think you need "secure" false.

[2017-10-24 13:07] HyperSquiZ commented on #189
Try setting secure option to false.

"secure – if true the connection will use TLS when connecting to server. If false (the default) then TLS is used if server supports the STARTTLS extension. In most cases set this value to true if you are connecting to port 465. **For port 587 or 25 keep it false**" - https://nodemailer.com/smtp/

[2017-10-24 14:13] cprashant1 commented on #189
even after secure false and using TLS port still not working

{
  "allow_create_new_accounts" : false,
  "send_emails"              : true,
  "application_sender_email" : "testmail",
  "email_transporter" : {
"host" : "smtp.office365.com",
"port" : 587,
"secure" : false,
"auth" : {
"user" : "testmail",
"pass" : "pass"
}
  },
  "crypto_secret" : "!2~`HswpPPLa22+=±§sdq qwe,appp qwwokDF_",
  "applica

[2017-10-24 14:32] HyperSquiZ commented on #189
try the below.  I've seen some posts about having to specify SSLv3 for Office365 SMTP.

{
"allow_create_new_accounts" : false,
"send_emails" : true,
"application_sender_email" : "testmail",
"secure" : false,
"email_transporter" : {
"host" : "smtp.office365.com",
"port" : 587,
"tls" : { "ciphers" : "SSLv3" },
"auth" : {
"user" : "testmail",
"pass" : "pass"
}
},
"crypto_secret" : "!2~`HswpPPLa22+=±§

[2017-10-24 15:07] vpp commented on #189
@cprashant1, there was similar issue few months ago, please have a look at the thread: https://github.com/timeoff-management/application/issues/142#issuecomment-293970765

[2017-10-25 09:44] cprashant1 commented on #189
Itried below but no luck , not sure what extra paramater office365 expecting . I also tried with "ignoreTLS": false , still it doesnt work.
{
  "allow_create_new_accounts" : false,
  "send_emails"              : true,
  "application_sender_email" : "mail",
  "email_transporter" : {
"host" : "smtp.office365.com",
"port" : 587,
"secure" : false,
"tls" : { "ciphers" : "SSLv3" },
"auth" : {
"user" : "

[2017-10-26 14:30] HyperSquiZ commented on #118
Currently, I don;t think so.

I have worked around this by naming my Leave Types "1. Holiday" "2. Dependant Care Leave" "3. Sick Leave" etc (for now)

[2017-10-26 14:59] deanouk23 opened #190 "Heroku"
sorted thanks

[2017-10-26 20:05] vpp commented on #190
Hi @deanouk23, I did not try the app on Heroku, but there is a pull request waiting to be merged in that claims to add the integration with it: https://github.com/timeoff-management/application/pull/129/files

Please consider looking at it

[2017-10-26 20:06] vpp commented on #118
@HyperSquiZ, nice, thanks for sharing (as a quick work around it could help)

[2017-10-29 16:47] #190 closed

[2017-10-30 15:12] theapprover commented on #184
I support this request.

[2017-10-30 15:38] gavin20 commented on #108
Hello I'm following up on this request. Does anyone know which files to edit in the General view to enable? And has anyone made progress to show colored leaves within the calendar and team view page?

[2017-10-31 12:27] petrvecera commented on #184
FYI Started working on it today.

[2017-10-31 23:53] petrvecera commented on #184
Ok guys, so this is what I got:
![image](https://user-images.githubusercontent.com/8086995/32254081-e1c8dcb4-be9e-11e7-9064-58b9ccd50ab3.png)

But I don't know what to do when there is more types of leaves, how to handle that 😕

[2017-11-01 04:32] yusong555 commented on #179
This migration process worked for me.

the only catch is that old users' password did not work, but once have done password reset. everything works.  :)

many thanks.

[2017-11-01 06:58] vpp commented on #184
@petrvecera looks good to me.

Maybe the column to show only how many days were used, and when one mouse over on it it shows pop over with more details https://getbootstrap.com/docs/3.3/javascript/#popovers-examples

That way the main page will not be affected by dynamic nature of leave types

[2017-11-01 12:37] theapprover commented on #133
how is this one coming along? I am interested in being able to use this feature as well.

[2017-11-01 14:02] vpp commented on #133
Hi, did not get any progress since last comment unfortunately.

Thank you for casting vote: it will bump priority up

Sent from my iPhone

[2017-11-01 23:30] petrvecera commented on #184
Overview:
![image](https://user-images.githubusercontent.com/8086995/32302773-c49d782c-bf64-11e7-8ae3-b330f3cda71a.png)

Detail for one user:
![image](https://user-images.githubusercontent.com/8086995/32302788-cf709c3e-bf64-11e7-84e1-f0a6372c4e89.png)

Full summary:
![image](https://user-images.githubusercontent.com/8086995/32302802-e454062c-bf64-11e7-963a-d5b7840923bf.png)
Also we could have EXPO

[2017-11-02 07:10] vpp commented on #184
@petrvecera this looks great!

[2017-11-02 14:33] theapprover commented on #184
This does look great, any advise or guidance for implementation?

[2017-11-02 14:35] petrvecera commented on #184
@theapprover  I made PR https://github.com/timeoff-management/application/pull/192, I hope we can work together with @vpp and bring it to the master. But if you want you can pick it up here https://github.com/petrvecera/application/tree/team_view_absence_summary

[2017-11-02 15:00] vpp opened #194 "Allow admin/supervisors to see employee's calendar"
As requested by customers is would be good to have ability for admins and supervisors to see calendar page for ach supervised employee.

As per request:

Let Shane know when it is ready

[2017-11-02 15:04] vpp commented on #184
@petrvecera thank you for PR.

I will have a look properly at it very soon

[2017-11-03 17:26] vpp commented on #194
I have added the statistics by leave types as per original request outside this ticket.]

That patch is in master already.

[2017-11-07 15:09] petrvecera commented on #188
This bug is caused by the fact that there are 2x leave dialog window rendered in the HTML.

![image](https://user-images.githubusercontent.com/8086995/32499226-4dd4f630-c3d2-11e7-9457-08da816669c3.png)

One is from footer https://github.com/timeoff-management/application/blob/master/views/partials/footer.hbs#L2

Second on is from https://github.com/timeoff-management/application/blob/master/views/

[2017-11-07 15:52] #188 closed

[2017-11-07 15:58] vpp commented on #188
@petrvecera thank you for fixing the issue.

[2017-11-07 19:47] theapprover commented on #185
Bump this feature. If Managers could see their employee's details that would be helpful.

e.g. if User is Department Boss then enable hyperlinks for users

[2017-11-08 15:20] gyandal opened #196 "Other users details"
When we have set our instance running and added several users.

Once those users start logging in, 'sessions' seem to leak between logged in users.

I can be using the application, click back to calendar and be shown the calendar details of another user, the access writes for that user seem to be present, i.e if I have access to employees but the other user does not, once the session leak occurs,

[2017-11-08 15:44] vpp commented on #196
hi @gyandal

Interesting issue.

Is it possible to get more precise scenario how to reproduce the problem, something like:

1) in Chrome browser login as user A into account and opne team view page
2) in Firefox browser login as user B and open requests page
3) as user A in Chrome go to calendar page and observe that it is user B's calendar instead of user A's

That way it would be much easier to

[2017-11-08 15:51] gyandal commented on #196
Thanks for the quite reply.
I will certainly try to re-create this issue on one machine.
We seem to be able to reliably re-create the issue where by I log in on my
machine.

Whilst logged in another user logs in on their machine.

If I refresh /calendar I will likely get the latest users details present.

On 8 November 2017 at 15:44, Pavlo <notifications@github.com> wrote:

[2017-11-08 15:57] vpp commented on #196
May be on those different machines you use lets say Chrome that is logged to the same Google account? And chrome tries to be wise and use the latest cookies key with timeoff.management?

Like it does with remembering passwords etc

(I do not have two machines in hand at this moment to check this hypothesis)

[2017-11-08 16:03] gyandal commented on #196
I have managed to re-create this locally

I have attached a video file I hope you can play back.

On the left is Chrome, on the right is Firefox.

I was expecting to log into chrome and see my calendar.

I was expecting to then log into firefox and see Andrew's calendar, I would
then refresh chrome to see my(Stephen's) calendar change to Andrew's.

However I actually logged in on firefox(Andrew) a

[2017-11-08 17:32] vpp commented on #196
@gyandal unfortunately github does not store attachements, can you please send it to pavlo@timeoff.management

[2017-11-08 17:35] vpp commented on #196
@gyandal can you please also send me versions of node and nvm you use ("node -v" and "npm -v") and platform you run the app on Linux distro, Windows etc

[2017-11-08 17:38] gyandal commented on #196
I have sent the recording, I will find out the details you have asked for asap

Sent from my Cyanogen phone

On 8 Nov 2017 5:35 pm, Pavlo <notifications@github.com> wrote:

@gyandal can you please also send me versions of node and nvm you use ("node -v" and "npm -v") and platform you run the app on Linux distro, Windows etc

—
You are receiving this because you were mentioned.
Reply to this email

[2017-11-09 13:03] gyandal commented on #196
Node version is 6.11.5
and npm version is 3.10.10

On 8 November 2017 at 17:38, <woody@20thwigan.co.uk> wrote:

[2017-11-09 13:23] gyandal commented on #196
Looking at the node.js website I see we're a few versions behind.I've
update to the latest stable lts 8.9.1.

The issue is still present.

On 9 November 2017 at 13:03, Stephen Wood <woody@20thwigan.co.uk> wrote:

[2017-11-09 13:33] vpp commented on #196
@gyandal really weird..

Which operation system you use with the app?

I assume you use defaul settings with SQLite as DB.

When you open any page by one browser and then by another can you check log file for statement like this:

Executing (default): UPDATE `Sessions` SET `expires`='2017-11-10 13:27:29.821 +00:00',`updatedAt`='2017-11-09 13:27:29.822 +00:00' WHERE `sid` = '9MjhKLqXWidv942IigjZkRD

[2017-11-09 13:39] gyandal commented on #196
It is currently running on a Windows Server 2012 server.
Yes no other settings or configuration used with SQLite.  I'll monitor the log.  I'll try and record the log also.

[2017-11-09 13:42] vpp commented on #196
In fact looks like the TimeOff.Management app is not ready for cutting edge node version as there are lots of errors when installing dependencies.

I would suggest to use v4.8.3 for instance.

Consider using nvm to have different node versions: https://github.com/creationix/nvm

[2017-11-09 13:43] gyandal commented on #196
From the log I can see one sid for one user, another sid for the other user.

However, despite two different sids both browsers display data for the same user.

[2017-11-09 13:47] gyandal commented on #196
"In fact looks like the TimeOff.Management app is not ready for cutting edge node version as there are lots of errors when installing dependencies.

I would suggest to use v4.8.3 for instance.

Consider using nvm to have different node versions: https://github.com/creationix/nvm"

I deleted the node-modules folder and performed npm install and that seemed to install without error or issue.  Howeve

[2017-11-09 18:56] theapprover commented on #82
In my instance there is interest in having for the second tier of approval in the workflow that all go leaves approved by all of the Managers then go to a final person for ultimate approval.

e.g.
Requester A submits Vacation Form
Manager is sent email
Manager Approves the Vacation Request
Resources is sent an email
Resources does final Approval of Vacation Request

If at any stage it is rejected

[2017-11-10 08:40] gyandal commented on #196
After some digging I believe to have found the issue.

We are using iis to route our request on https://x.y.z  to port 3000 the application is running on.
IIS was caching the output.
 I had to disable both of these settings
![image](https://user-images.githubusercontent.com/912406/32649633-ac9f620a-c5f2-11e7-87ef-680e4e98ebea.png)

Thanks for all your efforts.

Hopefully this will help anyone else

[2017-11-10 09:41] vpp commented on #196
Hi @gyandal, thank you for sharing. It is indeed very useful.

[2017-11-14 17:31] vpp opened #198 "Allowance usage per month report."
We need to create new page with report that would allowance usage for employees.

The idea is inspired by PR https://github.com/timeoff-management/application/pull/192 done by @petrvecera as part of #184.

The new page would look like Team view, but instead of calendar grid there will be a table where
* rows are employees
* columns are
** days deducted from allowance in current time period
** one

[2017-11-14 17:37] vpp commented on #184
The original feature was added as part of https://github.com/timeoff-management/application/releases/tag/v0.8.0 release.

@petrvecera thank you for participating.

[2017-11-14 17:37] #184 closed

[2017-11-15 02:29] opensource755 opened #199 "SSL/HTTPS"
Hello everyone!
Need to find where to bind certificates to the application. Any help greatly appreciated.
Currently only http on port 3000 how can we change that to https on port 8043 or 3000

[2017-11-15 06:57] #196 closed

[2017-11-15 07:16] vpp commented on #189
Not sure it is possible to find the solution for this issue without access to the environment where it manifests itself.

[2017-11-15 07:16] #189 closed

[2017-11-16 22:14] jgaravelli commented on #98
was the start of the week ever configurable?

[2017-11-17 07:05] vpp commented on #98
@jgaravelli, no, in this application it was hardcoded to be Monday.

[2017-11-20 23:19] jamescobalt commented on #107
*I'm not a technical person.
I think I misunderstood #169. Since the ical feed didn't work right due to the timezone difference, I assigned the local timezone to the server environment - but now I'm thinking maybe #169 was suggesting to remove the local timezone and set it to UTC +0? Regardless, this resulted in a number of errors that left the app inoperable - another person in here with one of t

[2017-11-21 22:48] jgaravelli opened #200 "absences days are wrong"
When i select a day off it does the day before so like if i select the 8 it does the 7

[2017-11-22 07:21] vpp commented on #200
Hi @jgaravelli

The is issue sould be fixed when #58 is done. It happens now for people who are ahead of behind the UTC day change.

[2017-11-22 07:22] #199 closed

[2017-11-22 16:22] petrvecera opened #201 "Allowance is shared across all types of leaves"
We wanted to migrate from our google sheet to this app and we have a problem.

We have 2 types of leaves which are limited (takes allowance):

Holiday (25 days)
Sickday (2 days)

Thus 27 days of allowance.

But now when we want to migrate. Some people used for example 1 day of sick-day and 15 days of holiday. The admin can lower allowance to 11. But this way it does not limit to pick another 2 day

[2017-11-22 18:21] vpp commented on #201
Hi Petr,

Thank you for suggestion.

This is certainly doable.

I will think on it.

Sent from my iPhone

[2017-11-23 12:17] petrvecera opened #202 "How to approve leave request when manager is not available?"
What to do when manager is not available and people from his department have leave requests?

I can't find a way for admin to be able to simply approve those.  Is there any option for it?

Thank you

[2017-11-23 13:30] vpp commented on #202
Hi Petr,

Current master has a new feature of secondary approvers that allows departments to have more then one supervisor. Although there are few rough edges to be fixed (like sending notification emails to all approvers) it does the job.

Sent from my iPhone

[2017-11-23 13:36] petrvecera commented on #202
Excellent, thanks will check it out and let you know.

Just one thing

This should be definitely an optional :) Don't want to spam our higher management with emails.

[2017-11-23 13:51] vpp commented on #202
There was a ticket somewhere to make emails optional. I do not have access to desktop to find a reference but I am sure issue of spamming was already raised. It was in context that not all emails have to be sent.

Sent from my iPhone

[2017-11-23 20:52] theapprover commented on #6
I would like to express interest in this feature or a similar feature that allows us to manually enter Accrued Vacation Days / Holidays from prior periods for specific employees.

Another related request would be the ability to alter the vacation days per employee (+/- Days similar to how we can increase or decrease Allowance) e.g. We have a policy where Vacation is given at 3 weeks per year until

[2017-11-24 16:49] petrvecera commented on #198
@vpp I have the export implemented. Unfortunately my fork is no longer in sync with master. Because I have used the function for calculating each user absence summary which I made for my team view summary.

But I guess you can inspire yourself https://github.com/timeoff-management/application/compare/master...petrvecera:exporter

I guess the most important things is the excel file generator https:

[2017-11-25 06:59] vpp commented on #198
@petrvecera thank you! Your help is great. I will definitely bring this into master

[2017-11-27 14:41] petrvecera commented on #202
This was implemented in https://github.com/timeoff-management/application/commit/03dc42584be0ebac36cf02abf642352c698f2405 , looks really nice and works fine too! 👍

[2017-11-27 14:41] #202 closed

[2017-12-01 11:49] enriquetoledano opened #203 "Bug: Leave requests waiting to be approved doesn't use the limit of leave type"
Hi:

I have a leave type named RM limited to 1 day.
If a user asks for 1 day, and it is approved, and then the user asks for another day of RM type, it fails with the error "Error: Adding requested RM absense would exceed maximum allowed for such type by 1" --> That's correct.

If a user asks for 1 day of RM type and when it's not approved nor revoked he asks for another RM of 1 day, the system le

[2017-12-01 15:09] vpp commented on #203
Good observation @enriquetoledano

That needs to be addressed. I am not sure which way to take to be honest.

a) prevent employees to request more then limit
b) prevent supervisors to approve more then limit
c) allow supervisors to approve more then limit but make them aware of action

[2017-12-01 15:24] lukebrewerton opened #204 "Production Installation instructions"
The README.md has instructions for running a self-hosted instance in Development environment but theres no instructions for those that wish to deploy this to production for use with MySQL with DB migrations etc.

[2017-12-01 15:30] vpp commented on #204
hi @lukebrewerton

There are some bits of information scattered in README regarding this, but you are right that should be gathered to be more obvious.

For instance here is how to update existing instance:

https://github.com/timeoff-management/application#updating-existing-instance-with-new-code

Regarding using MySQL for instance it is matter of configuring the app to use MySQL it: https://gith

[2017-12-01 15:31] vpp commented on #204
The part related to running migration is:

npm run-script db-update

[2017-12-04 06:21] enriquetoledano commented on #203
Hi, Pavlo:

Thank you for your fast response.
In my opinion, the c) option is not desirable, because the supervisors may not have the right to give more days than the limit (in fact, I think it's no logical to put a limit that can be overpassed).
I think the easiest way may be the a) option: when an employee put a request, the system takes into account his approved leaves and his previously asked

[2017-12-04 15:33] lukebrewerton commented on #204
The instructions are very geared towards using the "development" NODE_ENV such as using npm start rather than something like PM2

[2017-12-04 16:12] lukebrewerton commented on #204
The migration doesn't create the MySQL tables, only tries to configure the columns on a table that doesn't exist so errors out

[2017-12-05 07:18] enriquetoledano commented on #204
Hi:
I'm trying to configure the use of mysql (NODE_ENV=production) in a new installation.
The problems I've seen are:
I have to install manually the mysql module (npm install mysql)
I have to create manually the database "database_production"
When trying to start, the program creates some tables, but I think it doesn't create all of them (only bankholidays, companies, departments and users).
The p

[2017-12-05 10:33] lukebrewerton commented on #204
Mine doesn't even create those tables, only the Sequelize Meta table for the migrations but I have also hit the foreign key issue

[2017-12-05 10:39] vpp commented on #204
My assumption was by using Sequelize.js ORM the DB layer should come vendor agnostic for free.

Clearly it is not true.

I will try to use MySQL engine for persistence layer to check how app behaves on it.

[2017-12-05 11:23] lukebrewerton commented on #204
That would be my assumption too! I think that SQLite and MySQL handle things like foreign keys slightly differently but Sequelize should handle this

[2017-12-06 09:42] vpp commented on #43
One more person asked about this feature. So it needs to go into progress.

[2017-12-06 10:12] vpp commented on #82
The functionality of secondary approvers was released into master.

Now it is possible to set secondary approvers per each department who will be able to act on requests coming from related users.

There are rough edges still like not all emails are sent to secondary supervisors, but I decided to release the feature to get early feedback.

Any other work to address issues corresponding to this fea

[2017-12-06 10:14] #82 closed

[2017-12-06 10:16] vpp opened #205 "Ensure all emails are sent to secondary supervisors"
As #82 was released to master with some technical debt - not all emails are sent to secondary supervisors/approvers, that needs to be fixed within this ticket.

[2017-12-07 15:05] AsimPervez93 opened #206 "2018 approved absence not deducted from allowance"
I was testing some stuff out and I came across this possible bug.

As the test user, I requested 1 day in 2018 which was approved.  However, this does not come off the Allowance for the year as shown in the below screenshot.

![image](https://user-images.githubusercontent.com/17923501/33721830-0c5d2114-db60-11e7-8db4-362e5b5a3445.png)

[2017-12-07 15:20] vpp commented on #206
Hi @AsimPervez93

The calendr's statistics section always shows the current year.

Although it needs to be more flexible.

[2017-12-07 15:24] AsimPervez93 commented on #206
@vpp Ah I see, so come 2018, it would take it off the allowance correctly?

[2017-12-07 15:27] AsimPervez93 opened #207 "Request: Supervisor able to see department summary"
This is something that is heavily requested from my environment,

For each department supervisor be able to see the summary of their department i.e. the below image.  If I was the finance supervisor, I should be able to click the Employees tab and only see the Finance department as highlighted in red.

![image](https://user-images.githubusercontent.com/17923501/33722813-eab7a464-db62-11e7-8e62-da9

[2017-12-07 15:29] AsimPervez93 commented on #207
Note that the supervisor should not be able to edit any of the employee's details like the admin can.  They should only be able to see the above screenshot for their respective department and clicking the employee name would not do anything for them.

[2017-12-07 15:49] vpp commented on #206
yes, but I am going to merge in "carry over" feature, that would allow employees to carry over lefteovers to next year.

[2017-12-07 15:51] vpp commented on #207
Good suggestion

[2017-12-07 16:10] AsimPervez93 commented on #206
Would it be possible to make the carry over feature optional?

I know most companies in my country do not allow employees to carry over leftovers to next year.

[2017-12-07 16:12] vpp commented on #206
@AsimPervez93 in that case you just set the cary over value to be 0

[2017-12-07 16:14] AsimPervez93 commented on #206
@vpp Yeah that would work.  As long as the feature wouldn't mean that any leftover days would be automatically carried over.  This would be a good feature, just not very useful in my country.  Thanks for clarifying.

[2017-12-08 08:03] barothiz opened #208 "Option to nominate backup person"
When requesting new absence an option to nominate a backup person would be useful, also checking that the nominee's approved absences are not overlapping with the requested days.

[2017-12-11 06:49] enriquetoledano commented on #206
The carry over would be very useful in my company. Thanks!

[2017-12-13 14:17] lukebrewerton commented on #204
Has there been any updates on this?

[2017-12-13 15:01] vpp commented on #204
Hi Luke,

Not yet, I am spending my effort on "carry remaining allowance over to next year" feature at this moment as promised to many customers.

Thanks
Pavlo

[2017-12-13 15:55] lukebrewerton commented on #204
That's fine, i'll delve in and have a look

[2017-12-18 08:54] genietto84 commented on #204
I had the same problem

I check on the MySql and the error is:

FOREIGN KEY (`department_id`) REFERENCES `Department` (`id`) ON DELETE SET NULL ON UPDATE CASCADE, FOREIGN KEY (`user_id`) REFERENCES `User` (`id`) ON DELETE CASCADE ON UPDATE CASCADE) ENGINE=InnoDB:
You have defined a SET NULL condition though some of the
columns are defined as NOT NULL.

I made this change on lib/model/db/department

[2017-12-19 14:38] vpp opened #209 "Employee adjustments needs to be based on year"
Every employee adjustment to allowance is applied only to particular year.

Each year to have its own adjustment.

That is prerequisite for ticket #6

[2017-12-20 10:02] krin-san commented on #108
Any updates on this feature? Would love to have it for our team.

[2017-12-21 16:38] vpp commented on #209
Moved previous implemantation of adjustment to use newly added table

[2017-12-21 16:38] #209 closed

[2017-12-22 18:58] vpp commented on #6
Ended up implementing feature as: each employ per every year has a record with general adjustment and remaining allocation brought from previous year.

Calculation of carry over happens only as a result of running command:

npm run-script carry-over-allowance

[2017-12-22 18:59] #6 closed

[2017-12-22 19:03] vpp commented on #83
Allowance adjustments now are on individual year basis, that is if employee X got adjustment of +3 days it is applied only to current year.

Done as part of #209

[2017-12-22 19:03] #83 closed

[2017-12-22 19:04] vpp commented on #63
As per comment above: closing.

[2017-12-22 19:05] #63 closed

[2017-12-22 19:46] vpp commented on #152
Fixed.

[2017-12-22 19:46] #152 closed

[2017-12-22 20:55] vpp opened #210 "Email audit filter with non-defaul date formats does not work"
When using email audit with non default formats:

DD/MM/YYYY

Filter does not operate correctly

[2017-12-28 08:21] vpp commented on #146
For now implemented simple version where system shows only Prev, current and Next link in pagination widget. The idea: is there are too mane pages - customer needs to use filter to narrow down the result set.

[2017-12-28 08:21] #146 closed

[2017-12-28 15:03] vpp opened #212 "Ability to mark holiday type as default"
To address following request from customer:

[2017-12-28 15:05] vpp opened #213 "Different bank holidays to have different colours"
As per customer request

[2017-12-28 15:08] vpp opened #214 "Highlight "must be in" periods for departments"
Would be VERY helpful if we could block out a section of the calendar in a different colour and put a message on that months team view or a legend of the colours on it so that it says that people should not book leave on those dates - we have a period in the year where we don't allow leave between certain dates (although we need the option to still book it if its approved by directors) - just a co

[2017-12-28 19:52] vpp commented on #58
Done in tom-58-timezones branch.

[2018-01-02 09:27] helixaros opened #215 "Instructions - Deployment to Production"
Could someone please give us the generic instructions on how to deploy the application to a production server?

[2018-01-02 09:55] vpp commented on #215
Hi @helixaros,

Steps listed here should be sufficient for reasonably size organisation:

https://github.com/timeoff-management/application/blob/master/README.md#self-hosting

Then keep updating installation with this steps:

https://github.com/timeoff-management/application/blob/master/README.md#updating-existing-instance-with-new-code

By default you would use SQLite database, so just keep regul

[2018-01-02 10:54] helixaros commented on #215
Thank you @vpp for the prompt reply!

Does that mean, that I would need to constantly have the terminal open (which will be running the server) as well as the only way for users to access the applications is through the use of localhost:3000 instead of a custom domain?

[2018-01-02 11:22] vpp commented on #215
Ah I see.

The instructions on readme are how to start the application.

How to incorporate it into existing infrastructure vary and depend on given case. Based on your company infrastructure or web hosting you are going to use.

For instance in case of https://app.timeoff.management the app is started with the same instructions as in readme, but webhosting infrastructure is configured to redirect

[2018-01-02 12:35] helixaros commented on #215
Thank you so much!

[2018-01-02 13:01] #215 closed

[2018-01-02 13:24] lukebrewerton opened #216 "Users to have separate approvers"
Is it possible to have individual users to have a different approver?

For example, the heads of department need their requests to go to the SMT for approval but SMT do not want to be receiving emails for all the departments as we need the approvers to show as part of their departments but to have their requests approved by the SMT and not themselves or the secondary approvers

[2018-01-02 14:01] vpp commented on #216
@lukebrewerton at this moment individuals derive their approvers only from department they belong to.

To address the case described above I would suggest to create new department - managers and put all departments heads there, and makes SMT be approvers in this new department.

Although I will keep that ticket for  adding secondary approvers on individual basis.

[2018-01-02 14:01] lukebrewerton opened #217 "Customise Email notifications"
It would be nice to have the ability to turn off email notifications for certain user/department combinations or make all admins able to approve any leave requests without receiving notifications for requests

[2018-01-02 14:08] lukebrewerton commented on #121
I believe (I haven't tested this yet) that setting `"application_sender_email" : "email@test.com",` to something like `"application_sender_email" : "TimeOff.Management <email@test.com>",` should work but I am testing this

[2018-01-02 14:18] vpp commented on #16
One more request for the feature

[2018-01-02 14:20] vpp commented on #217
There is a a ticket for similar feature: #16

I am going to close this ticket as duplicate

[2018-01-02 14:20] #217 closed

[2018-01-02 14:21] vpp commented on #121
@lukebrewerton please share the findings

[2018-01-03 14:00] ChenluWangKaizen opened #218 "Customized start date and end date of a year"
The ability of customizing start and end date of a year will be very helpful for more users.
A lot of companies like our organisation do not start holiday at the first day of a year. They may adopt fiscal year rather than calendar year.
Is it feasible to add this feature?
Thanks.

[2018-01-03 14:58] vpp commented on #218
hi @ChenluWangKaizen

Thank you for suggestion.

I will keep this ticket open. To evaluate more. From top of my head it is middle size project.

[2018-01-04 08:38] #58 closed

[2018-01-04 08:40] vpp commented on #175
Should be fixed now as part of #58

[2018-01-04 08:40] #175 closed

[2018-01-04 08:41] vpp commented on #200
Should be fixed now.

[2018-01-04 08:41] #200 closed

[2018-01-04 08:48] vpp commented on #107
Should be fixed as part of #58

[2018-01-04 08:48] #107 closed

[2018-01-04 09:09] vpp commented on #89
Update Tina when done

[2018-01-04 10:23] lukebrewerton commented on #204
As a note to this, I have successfully used PM2 to run this in production, adding NODE_ENV=production as export NODE_ENV=production on my Centos server, just using the SQLite for production for the time being. The command, IIRC is 'pm2 start npm --name "<FRIENDLY_NAME>" -- start' which runs the 'npm start' as you would for dev but it will use the production settings if NODE_ENV is set to productio

[2018-01-04 10:29] lukebrewerton commented on #204
Also, I am using nginx to proxy requests from port 80 to 3000. my nginx config file is as follows:-

    upstream node_server {
       server 127.0.0.1:3000 fail_timeout=0;
     }

    server {
        listen 80;

    index index.html index.htm;

    server_name holidays.hyve.com;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_

[2018-01-05 14:44] shellhouse opened #219 "12/31/18 not showing leave on calendar"
Leave for 12/31/18 does not show on calendar views.  The date is not colorized for the employees with leave requests.

[2018-01-05 14:54] vpp commented on #219
Indeed it it is not there.

@shellhouse thank you for reporting

[2018-01-05 15:01] vpp commented on #219
It is something about case when holiday is one day and it is very last day of the year.

It happens for 2019 year as well.

if it is more then one day it shows up OK.

[2018-01-07 19:45] #212 closed

[2018-01-08 07:27] vpp commented on #219
This happens because query to get all leaves for year has condition

BETWEEN '2018-01-01' AND '2018-12-31'

Dates need to be more detailed, like '2018-12-31 00:00:00.000 +00:00'

[2018-01-09 11:23] thomasgreen opened #220 "Slow processing when sending emails?"
I've managed to configure the emails to send from my SMTP server yet when doing so it can to way to long for the site to become interactive again. It took 16 seconds to delete and request a a holiday.

Watching the console log in the terminal it appears to be a long pause just before "Executing (default): INSERT INTO `EmailAudit..." appears.

Is this a known problem? Have I missed some setting?

[2018-01-09 11:25] vpp commented on #220
Looks like there is a slow communication link between application instance and SMTP server.

[2018-01-09 11:33] thomasgreen commented on #220
I'm still testing it out on my localhost currently. Not sure if that is an issue but I'll try it when I set it up on a server and see if that allows for a faster connection.

[2018-01-09 16:31] vpp commented on #219
Fix is in the master.

[2018-01-09 16:31] #219 closed

[2018-01-10 07:19] vpp commented on #39
That was fixed as part of #212

[2018-01-10 07:19] #39 closed

[2018-01-10 18:42] kamilkosek opened #221 "Holiday Allowance per User"
Hi,
i dont know if its already possible:
In our company it is usual to have a different number of holidays per user, even if in the same team. It depends on what you negotiated with the boss ;)
So my question is, is it possible to give specific user a specific amount holidays?

[2018-01-10 18:52] vpp commented on #221
Hi,

Yes, just set the allowance for department to be zero and then adjust holidays on individual base by using "allowance adjustment" field.

Thanks
Pavlo

[2018-01-10 20:59] kamilkosek opened #222 "Translation support"
Hi again,
is there a plan to enable translated frontend ?
I could help translating to polish, german and spanish

[2018-01-10 21:00] kamilkosek commented on #221
Thanks for the fast response :)

[2018-01-10 21:00] #221 closed

[2018-01-10 21:54] kamilkosek opened #223 "bank holiday´s with half day value"
Hi,
sorry to annoy you, but is it possible to add a bank holiday with a half day value ?
In our company it´s usual to take 0,5 days on 24th December and 0,5 days on 31st of December

[2018-01-10 22:03] vpp commented on #223
Hi Kamil,

Bank holidays are full days in current implementation.

Although the case you've described is interesting and worth thinking about.

Sent from my iPhone

[2018-01-10 22:08] kamilkosek commented on #223
Yeah, I think it is common in germany to take these day´s as half day holidays.

[2018-01-10 22:11] vpp commented on #223
To add such type of bank holidays is not hard. More trickier would be to integrate that into leave overlap checking logic.

Let's keep that ticket open for awhile and see what community thinks about that idea.

Sent from my iPhone

[2018-01-10 22:12] kamilkosek commented on #223
Btw, do you have any hints where I could start implementing it ? I´m not a web dev but have some experience in .net languages so maybe it will work out :P

[2018-01-10 22:16] vpp commented on #223
Kamil, I do not have access to desktop at this moment to send you any links..

Sent from my iPhone

[2018-01-10 22:26] kamilkosek opened #224 "Feature-Request: Extend workflow to require approval of substitute"
A very common scenario is following:

1. You submit a leave request and declare substitutes for your absence time
2. The substitutes must confirm and approve your holidays and absence
3. Then the request is forwarded to the supervisor

Maybe this is something we could think and talk about

[2018-01-10 22:27] kamilkosek commented on #224
I think [this](https://github.com/timeoff-management/application/issues/208) issue is something simmilar.

[2018-01-11 09:43] vpp commented on #222
hi Kamil,

There is a ticket #75 to address translation.

I am not sure I am going to work on it soon as there is a plan of quite a new features that would require more work if translation framework in place.

I am going to close this ticket as duplication of #75

[2018-01-11 09:44] vpp commented on #75
More help suggested for translation into polish, german and spanish in #222

[2018-01-11 09:44] #222 closed

[2018-01-11 20:48] shellhouse opened #225 "Allow Managers to view/edit leave balances within their managed department"
This request is for giving Managers the ability to view/update leave balances for employees in their managed department(s) only (without allowing full admin access).

[2018-01-11 20:57] shellhouse opened #226 "Please add confirmation for delete employee / user in user view"
Please add confirmation for delete employee / user in user view.  This hasn't been an issue for us yet, however some of us use touchpads.

[2018-01-11 21:32] vpp commented on #226
that is good suggestion, there is a ticket for it - #67 - which is high on backlog and should be done soon.

I am closing current ticket as duplicate

[2018-01-11 21:33] vpp commented on #225
Good suggestion.

[2018-01-12 06:54] #226 closed

[2018-01-12 17:12] lukebrewerton commented on #121
After testing this on a dev instance I have, setting it as above works! so just set `application_sender_email` to something like `"application_sender_email" : "TimeOff.Management <email@test.com>",` and this will show the name as well as the email address on the emails!

[2018-01-17 21:04] hellem03 commented on #218
This would be a very nice improvement. In Denmark, the "vacation year" is from May 1st to April 30th.

[2018-01-19 07:27] AvnerCohen opened #227 "How complicated would it be to add a gmail login endpoint (oAuth) ?"

[2018-01-19 08:21] vpp commented on #227
Should be fairly straightforward: the app uses passport.js, so it should be a matter adding new strategy.

Additionally app should be amended to have extra setting per company base to enable that feature.

Sent from my iPhone

[2018-01-23 13:28] vpp commented on #99
Merged into master.

[2018-01-23 13:28] #99 closed

[2018-01-23 13:42] vpp opened #229 "Retire feature of data migration between instances"
Looks like the feature of data migrations between installations is not popular with users, so I am going to retire it.

Customers of cloud hosting do not care about it. Users who host solution on their infrastructure are doing it by migrating underlying database.

[2018-01-24 09:59] nm2501 commented on #227
+1 This is something I'd like to see. Any plans to add this?

[2018-01-24 10:08] nm2501 commented on #43
+1 I'd love to see this feature too. The holiday policy at my company is N days per year, which are accrued month-by-month at 1/12th of the yearly allowance.
This could make it tricky to show how much holiday you have accrued when the actual value is something like 21.666666666.

[2018-01-24 12:18] vpp opened #230 "Changing approver of leave request before it is processed"
If an employee puts in a leave request, it goes to the person
listed as their department manager.  If however that person them
moves to a new manager, they are unable to see that request in
their queue as it sticks with the old manager.

[2018-01-24 12:21] vpp opened #231 "Colours for Bank holidays"
On the "Bank Holidays" section would be good to colour code
different days - we give employees a day extra at xmas, so
ideally would want to identify it differently to the Bank
holidays rather than them all being blue on the team view.

[2018-01-24 12:22] vpp opened #232 "Black out period on department basis"
Would be VERY helpful if we could block out a section of the
calendar in a different colour and put a message on that months
team view or a legend of the colours on it so that it says that
people should not book leave on those dates - we have a period in
the year where we don't allow leave between certain dates
(although we need the option to still book it if its approved by
directors) - just a co

[2018-01-25 04:11] marct83 opened #233 "40 seconds to Revoke a Leave"
Hi. When I try and revoke a leave from the Calendar page it is taking upwards of 40seconds for the processing to finish. I have 94 Users and approx 11k leaves in the system. I have attached some logs.
[code]

[2018-01-25 07:23] vpp commented on #233
hi @marct83 thank you for reporting the issue.

The functionality was written in hurry without too much thinking about DB efficiency.

I noted that performance bottleneck in cloud hosted version of the app and was going to re-visit it at some point.

Thank you for reporting and if you have any other ideas/issues regarding improving usability of the app for >100 users please write a github issue or

[2018-01-25 14:27] marct83 commented on #233
Any ideas on why it's so slow? It seems like it fires off an exuberant amount of queries for this simple operation. I'd be willing to look into it but need a little direction. It seems like its the 11K leaves that are the causing the issue as I had the 94 users with only a few leaves and it was fine.

I'm in the process of getting the app setup and I'd say this almost makes the App unusable for me

[2018-01-25 14:56] vpp commented on #233
In other places where there was such problem the reason was in bad approach in table JOINing and the resulting query was cartesian intersection which grew with number of leaves.

Leave that ticket with me and in next few days I will have time to look at this particular case.

[2018-01-25 15:06] vpp commented on #233
well, in this particular case it is bad design decision...

[2018-01-25 15:08] vpp commented on #233
let me see if I can quickly do the fix.

if not now then in couple of days

[2018-01-25 16:36] marct83 opened #234 "Repeating Absences"
Feature Request:

- Allow the creation of Repeating Absences on a Weekly / Bi Weekly Frequency
- With a Repeat Until end date.

[2018-01-25 16:37] vpp commented on #233
@marct83 I've just pushed patch into master so it should be much faster then 40 secs for you to revoke leave request.

[2018-01-25 16:45] vpp commented on #234
@marct83 thank you for suggestion.

Definitely worth considering.

[2018-01-25 17:02] #233 closed

[2018-01-25 19:41] marct83 commented on #233
Fixed. Working well even with 22k leaves in the DB.

[2018-01-26 15:54] petrvecera commented on #198
Hi @vpp , I just wanted to share our progress with you. Our accountant required comprehensive export.

So now thanks to @znojProfiq we are able to generate such report:
![image](https://user-images.githubusercontent.com/8086995/35447569-5782d7e0-02b8-11e8-818b-382adb696921.png)

Unfortunately our fork is not compatible with master so we can't create a PR.  But I have created gist with the code htt

[2018-01-27 10:02] vpp commented on #164
Done

[2018-01-27 10:02] #164 closed

[2018-01-27 21:23] vpp commented on #198
hi @petrvecera, thank you for sharing ideas. THey proved to be really useful for the project.

I am not sure it is worth bringing Excel formatting into the project, .cvs should be sufficient for office people (HR etc) tp deal with data. I just want to keep set of dependencies to as small as possible.

BTW, I merged into master the first version of the report you've inspired: allowances usage by ti

[2018-01-27 23:09] vpp opened #236 "Leave lists needs to distinguish between half and full day leaves"
Now it is impossible to find if the day was full or halve from list of leaves.

One needs to search for the leave on Team view to get that information

[2018-01-27 23:18] vpp commented on #198
Just added statistics by leave types.

[2018-01-27 23:18] #198 closed

[2018-01-29 07:43] vpp commented on #236
Needs to have explicit test

[2018-01-29 16:57] vpp opened #237 "Add "Deactivate" action for employee account"
It is not clear to many customers about how to deactivate account. By setting end date to be in past.

We need to create an action "deactivate" that would be a short cut for this.

[2018-01-30 07:22] vpp commented on #236
done and in master

[2018-01-30 07:22] #236 closed

[2018-01-30 07:27] julobaco opened #238 "Month Report coding names"
Good morning, I have tried generate the .csv monthly report, but our names are not using correct coding.

the correct name should be Bačo Július.

![image](https://user-images.githubusercontent.com/4928552/35553055-91da569e-0596-11e8-9e8c-4234994120d6.png)

Thank you!

P.S: it will be very useful if the monthly report will be more detailed. Something like was mentioned in the https://github.com/ti

[2018-01-30 09:40] vpp commented on #238
Thank you @julobaco for reporting the issue.

I will have a look at it soon (as this is still fresh in my head :)).

Regarding "more details" in report the one I think is missing from what Peter Vecera suggested is listing the dates in the same fashion as on Team view page. Or you are thinking about something else?

[2018-01-30 09:50] julobaco commented on #238
Thank you!

I meant more details like what type of the absence was applied and for what days. In current view of "team view" you can see only if the person has absence but you cannot see if it was sick day or vacation etc.. I know there is planned to integrate colors for types what will be definitely very useful but I think if type of absence and for what days will be visible in the reports it wil

[2018-01-30 10:24] iainhallam commented on #108
If you're looking for a set of colours, why not try Google's Material Design guide or Microsoft's Metro? They both have defined colour palettes.

[2018-01-30 11:06] vpp commented on #238
the trouble with "broken encoding" is due to Excel does not recognise that downloaded .csv file is utf-8 encoded.

If open this file in any other text editor the values are encoded properly.

We need to find a way how to trick Excel to treat the file as utf-8 one.

Here is SOF question that seems to be related: https://stackoverflow.com/questions/155097/microsoft-excel-mangles-diacritics-in-csv-fi

[2018-01-30 11:16] julobaco commented on #238
Thank you for your time on it. It is correct, that when the .csv file is opened in notepad the encoding is correct, only Excel has problems with it. I am using latest version of Excel 2016.

I wish to have programming skills and help you... Anyway you doing great job :-)

[2018-01-30 14:48] ignaciolflores commented on #229
How will be able to export data a cloud user?

[2018-01-30 16:24] vpp commented on #229
What I was thinking about is to: retire the whole account migration and replace it with ability to download users and their leaves in .CSV format.

So customers still can get their data in readable format if they wish. Although they will not be able to move that data to new instancne of TimeOff.Management.

[2018-01-31 07:14] vpp commented on #108
Development branch tom-108-colors-for-leaves

[2018-01-31 10:31] #220 closed

[2018-01-31 10:33] #179 closed

[2018-01-31 10:36] vpp commented on #157
Should be simple to implement after #198 is done

[2018-01-31 10:40] vpp commented on #118
Done as part of #212

[2018-01-31 10:40] #118 closed

[2018-01-31 15:03] marct83 opened #239 "Moment JS Error in Logs"
This Error keeps showing up in the logs. Curious what might be causing it:

[code]

[2018-01-31 15:14] vpp commented on #239
hi @marct83 this is moment.js is unhappy with how it is used. It does not affect the app at this moment but will do when the dependencies are bumped up.

Although that warning needs to be fixed.

So lets keep that ticket to address it.

[2018-02-01 17:26] vpp commented on #124
Add pull-request: https://github.com/Kickball/awesome-selfhosted/pull/1305

[2018-02-03 08:32] vpp opened #240 "New ways of user auth"
Check what people think about adding alternative ways of user authentication:

SAML or OAuth authentication protocols

[2018-02-05 13:20] ignaciolflores commented on #229
We are cloud customers, and having the opportunity to migrate to our own instance is a good feature. Maybe we don't make it never, but having the opportunity is great and give us freedom, that is one thing companies really appreciate.

[2018-02-05 15:29] vpp commented on #229
@ignaciolflores thank you for feedback about this feature

[2018-02-05 21:57] blacklevel commented on #240
+1 for OAuth

[2018-02-07 07:16] vpp commented on #108
Done. Merged to master.

[2018-02-07 07:16] #108 closed

[2018-02-07 08:14] rysiok opened #241 "Leave color errors."
There was a small bug in validator and in views.
Patch attached.

[leave_colours.zip](https://github.com/timeoff-management/application/files/1702186/leave_colours.zip)

[2018-02-07 10:34] vpp commented on #241
@rysiok thank you! much appreciated.

[2018-02-07 11:06] vpp commented on #241
Merged and deployed.

[2018-02-07 11:06] #241 closed

[2018-02-07 11:44] enriquetoledano commented on #231
It would be great also to see the name of the bank holidays in the calendar view tooltip (now the Holiday name is just entered in the general settings and not used as far as I know).
Thanks

[2018-02-07 11:51] enriquetoledano opened #242 "Leave colors"
Hi:
The new option for select a color each leave type is great, thanks.
Could it be possible to put a color legend in the calendar view for the users to know what each color means?
Thanks

[2018-02-07 12:15] vpp commented on #242
hi @enriquetoledano thank you for suggestion.

I will consider it.

Although I was going to add add popup tooltips when one hover over the leave on calendar/teamview page with more details about the leave and with ability to act on it if user has ability to.

[2018-02-07 12:17] vpp opened #243 "Expose bank holiday name in tooltip on calendar/teamvire pages"
As per comment in #231

[2018-02-07 13:01] enriquetoledano commented on #242
That's even better!

[2018-02-07 22:41] vpp commented on #100
Ended up using https://github.com/vpp/date-holidays

[2018-02-07 22:42] vpp commented on #100
Now system use set of default holidays when creating new account.

What is left: to add ability to update current year's bank holidays for existing account.

[2018-02-08 06:38] vpp opened #244 "Add integration with SLack"
Add ability to send notifications via Slack.

[2018-02-08 13:48] RobertGolds1967 commented on #75
Hello, to translate into a language (eg Italian) do you need to go to the various files or is there a file with the strings to translate?
Thanks for support.

[2018-02-08 16:19] vpp commented on #75
Hi @RobertGolds1967, as per current implementation one needs to co through template files (and few places in lib/route/ directory for error messages).

The need to be work done to prepare the app for translations.

[2018-02-09 09:16] vpp commented on #100
Just added ability to import default bank holidays into existing accounts.

[2018-02-09 09:16] #100 closed

[2018-02-12 14:58] vpp commented on #93
Recently CSS was updated to have cells with leaves to be of black font.

[2018-02-12 14:58] #93 closed

[2018-02-12 15:24] marct83 opened #245 "Team View Default"
Is it possible to set the Team View Default to the Users Department rather than All?

[2018-02-12 16:40] marct83 opened #246 "Error: read ECONNRESET"
Have been seeing this in our logs. I'm unsure what is being done in the UI when this is happening.
Any idea what might cause this?

GET /fonts/fontawesome-webfont.eot? 304 0.281 ms - -
events.js:137
      throw er; // Unhandled 'error' event
      ^

Error: read ECONNRESET
    at _errnoException (util.js:1003:13)
    at TCP.onread (net.js:620:25)

[2018-02-12 16:42] marct83 opened #247 "GET /favicon.ico 404"
Another error in the log. This doesnt cause a crash I'm just curious what is happening.

Executing (default): UPDATE "Sessions" SET "expires"='2018-02-13 16:37:04.417 +00:00',"updatedAt"='2018-02-12 16:37:04.418 +00:00' WHERE "sid" = '9ApixaVmY-ImG7CY_PDSHYKlZyZjJr_W'
GET /favicon.ico 404 20.834 ms - 1192

[2018-02-12 17:30] vpp commented on #245
I was recently though about it as well. But I came to it from DB efficiency point of view.

Looks like it is time to bring in "user preference" concept into app.

Lets have this ticket to reflect on the question.

[2018-02-12 17:33] vpp commented on #246
@marct83 consider running app in "cluster" mode so workers restart each other if needed:

node bin/wwww_cluster

[2018-02-12 17:34] vpp commented on #247
One needs to put favicon.ico to the app

[2018-02-12 17:36] marct83 commented on #246
We have the app running in Kubernetes so it it already restarts the container if it crashes. So it does recover which is good. But having it crash continually/intemitently on this same error is troubling.

[2018-02-12 21:58] vpp commented on #246
@marct83 so it does crash every single time you open Team view page?

[2018-02-12 22:00] vpp commented on #246
Just saw you mentioned “intermittently”.

Is it possible that process does not have enough memory?

[2018-02-12 22:01] fixe opened #248 "Remove warnings caused by installing devDependencies"
Updating `selenium-webdriver` to `3.6.0` fixes the issue but probably requires some tests to be updated as well.

[2018-02-13 19:37] marct83 commented on #246
Verified lots of available memory.

[2018-02-14 12:14] vpp commented on #246
@marct83 how many users do you have in that particular Team view page?

[2018-02-15 12:24] vpp commented on #247
Should be fixed now

[2018-02-15 12:24] #247 closed

[2018-02-15 14:02] marct83 commented on #246
19

[2018-02-15 15:37] vpp commented on #246
well.. that is usual size..

simple suggestion but I assume you start the app with command like this:

`nohup node bin/wwww_cluster >> /path/to/log/file  2>&1 &`

[2018-02-15 16:50] marct83 opened #249 "Overlapping Leave - Query Issue"
Having some trouble with the Overlapping Leave query. If I try and put a leave in for a day before a day that already has a leave. I get error:

"An error occured when user 73 try to create a leave request: Error: Overlapping booking!"

However if I try and put in a leave for the day after a day that already has a leave there is no issue.

I have figured out the issue. The Query it runs is the fol

[2018-02-15 16:59] vpp commented on #249
@marct83 ensure that you have correct time zone configured in the company settings.

[2018-02-15 17:01] vpp commented on #249
and make sure your server is running with UTC time on

[2018-02-15 17:45] vpp commented on #249
@marct83 really strange..

I've checked that scenario on cloud version account and all is good there.

Are you sure that when you are adding new leave start date and end dates are the same?

[2018-02-15 17:47] marct83 commented on #249
Yes start and end are the same date. Unsure if Postgres has anything to do with this.

[2018-02-15 17:49] vpp commented on #249
dates in BETWEEN '2018-03-07' AND '2018-03-08' are start and end date submitted from front end (as far as i remember)

[2018-02-15 17:52] vpp commented on #249
ignore previous comment:

here is how the condition is done:

`133   this.validate_overlapping = function(new_leave_attributes) {
134     var this_user = this;
135
136     var days_filter = {
137       $between : [
138         new_leave_attributes.from_date,
139         moment.utc(new_leave_attributes.to_date)
140           .add(1,'days').format('YYYY-MM-DD'),
141       ],
142     };

[2018-02-15 17:55] marct83 commented on #249
Ya I just tested and that is what it is doing.

[2018-02-15 18:03] vpp commented on #249
@marct83 I am going to have a look at this thing later as it is really weird.

Although I cannot reproduce the problem over here, I do not see how it works here.

(it probably would take awhile as I am going to be busy next week)

[2018-02-15 18:05] marct83 commented on #249
I will test it in a dev mysqllite db with every setup the same and report back.

[2018-02-15 18:08] vpp commented on #249
@marct83 one more thing: which time zone you are in?

[2018-02-15 18:10] vpp commented on #249
and one more thing which date format you are using?

[2018-02-15 18:12] vpp commented on #249
I also assume that you use the most recent version

[2018-02-15 20:09] marct83 commented on #249
We are in the America/Regina Timezone. We pointed it to Mysqllite database and it works fine. We changed it back to Postgres and its back to not working. Also tried it on a different machine/server and same issues. Version is the version before the theme colors went in. So fairly recent.

What do you mean by date format?

[2018-02-15 20:20] vpp commented on #249
Thanks for sharing.

About date format: I meant the field in company settings, like DD/MM/YY or MM/DD/YY etc

Sent from my iPhone

[2018-02-15 21:02] marct83 commented on #249
We tried this:

   var days_filter = {
      $between : [
        new_leave_attributes.from_date,
        moment.utc(new_leave_attributes.to_date)
          .endOf('day').format('YYYY-MM-DD'),
      ],
    };

It seems to have fixed it. Also tested it with multiple scenarios and it seems good.

[2018-02-16 18:33] Elbelfagor opened #250 "Randomic Crash"
Hallo guys.
I have a randomic crash with my on prem installation.
This is the log:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@5.6.0
3 info using node@v8.9.4
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifec

[2018-02-19 14:07] SergentMarc commented on #75
Hello ! I am ready to help with the French Translation :-)

[2018-02-22 13:16] vojtech-cerveny opened #251 "Create atomic test cases"
Hi,
my idea is to create atomic test cases, so you don't need to run all test to check one testcase. It should be better for testing during developing new feature.

And use [WebDriverIO](http://webdriver.io/) and use [Page Object Pattern](http://webdriver.io/guide/testrunner/pageobjects.html#description)

[2018-03-05 09:42] vpp commented on #124
Related pull request was merged.

[2018-03-05 09:42] #124 closed

[2018-03-08 10:41] b0n0 commented on #189
Hi, use
 "auth" : null
and it works
{
  "allow_create_new_accounts" : false,
  "send_emails"              : true,
  "application_sender_email" : "TimeOFF.Request <TimeOFF@xxx>",
  "email_transporter" : {
    "type" : "smtp",
    "host" : "xxxx",
    "port" : 25,
    "secure" : false,
    "ignoreTLS" : false,
    "tls": {
    "rejectUnauthorized": false
    },
    "auth" : null

[2018-03-15 10:52] ChoiceTL opened #252 "Email not being sent (Gmail)"
Hello,

I've installed the TimeOff.Management application, but am facing difficulties with getting the e-mail setting in the app.json file to work. We use MS office outlook at our office, but becauase I could not get the setting to work, I created a seperate G-mail account, but also this does not work.

Currently I use the below settings:

{
"allow_create_new_accounts" : false,
"send_emails" : tru

[2018-03-15 10:55] ChoiceTL commented on #231
I would like to see the name of the holiday in the calandar view as well, rather then just "Bank Holiday".

[2018-03-15 11:01] ChoiceTL commented on #43
I would love to see that you could select the amount of hours your want to take as leave of absence as well. Our company gives employees 27,5 days off per year, but those can be used by the employees per hour.

[2018-03-15 11:40] vpp commented on #252
Interesting.

I quickly googled the question and on one of results https://medium.com/@manojsinghnegi/sending-an-email-using-nodemailer-gmail-7cfa0712a799 it recommends "Before sending your email using gmail you have to allow non secure apps to access gmail you can do this by going to your gmail settings here." which is what you tried...

Maybe it is worth trying to remove custom setting for "port

[2018-03-15 11:59] b0n0 commented on #252
hi, i was having simillar issue with different app. try to add separate
password for this app inside gmail settings. that did the trick for me.

On Mar 15, 2018 1:40 PM, "Pavlo" <notifications@github.com> wrote:

[2018-03-15 14:56] vpp opened #253 "Relaxed attitude to negative holiday balance"
As per customer suggestion:

For example, if have 4 remaing day and ask for 5 days, I will get the message : 'Error: Adding requested 3- Other absense would exceed maximum allowed for such type by 1'

Consider adding new option to account: "relaxed holiday limits" when ON system allows to request holidays even when employee is going to have nnegative balance when approved.

UI for supervisors need

[2018-03-16 06:15] ChoiceTL commented on #252
Thank you both for your reply.

@b0n0 I've tried to generate a seperate password for this app, however when I navigate to the setting page from gmail, it shows something like "the settings you're looking for, are not available for your account".

@vpp I've tried to play around with the code, but without any luck yet.

To be honest, I'm a teamleader in a logistics warehouse with no real IT backgrou

[2018-03-16 07:41] vpp commented on #252
@ChoiceTL there is always an option to just use cloud version at https://timeoff.management ;)

[2018-03-19 06:56] vpp opened #254 "Retire bulk updates of departments"
Looks like that functionality rarely used by customers.

No need to keep it. Let keep error surface small.

[2018-03-20 08:26] b0n0 commented on #252
@ChoiceTL I am not sure but maybe you need G Suite account

[2018-03-20 11:46] b0n0 commented on #216
+1  Users to have separate approvers
and another idea...
when leave request is approved and we have 2, 3 or more managers with approval functions they wouldnt know that the request was approved. Maybe notification email to all managers that the request was approved by X. Managers should be able to view history who approved who.

[2018-03-20 12:08] vpp commented on #216
@b0n0 thank you for feedback.

Regarding "another idea": there is bug #205 to address that.

[2018-03-20 13:46] Timmmm opened #255 "Optional approval per leave type"
Maybe I missed the setting, but it would be good if there was an option next to "Use allowance" in the Leave Types bit called "Require approval" so you can set that, e.g. sick leave doesn't require approval.

[2018-03-20 13:49] Timmmm opened #256 "Set passwords for bulk user import"
With the bulk user import option (from CSV) the password is always set to `undefined` (classic Javascript! I had to read the source to learn this).

Suggested solution:

1. Default password should be blank, not `undefined` (check for `=== undefined`).
2. Add a `password` field to the CSV - in the downloaded sample they should be blank.

[2018-03-20 15:03] vpp commented on #255
@Timmmm there is a way to configure "auto approval" mode per employee: if employee is trustworthy one can set "auto approve" flag on her account so all her leave requests go straight into Approved status.

To have "auto approval" flag per Leave Type is very interesting idea. I will keep this ticket open to get feedback from community and if it is appealing feature I will happily add it.

[2018-03-20 15:05] vpp commented on #256
@Timmmm thank you for reporting.

[2018-03-21 00:30] kenshi1023 opened #257 "seniority vacation allowance"
At my company, employees with 10years of seniority get 120hrs/15days of vacation time while anyone working there less than 10yrs gets 80hrs/10days of vacation per year... Under the current general setting of the script, there is no way to set the limit of days allow for specific employee. Is it possible to assign a leave type to specific employees? How do you assign a specific number of sick, vaca

[2018-03-21 10:07] blacklevel commented on #255
In most organizations I know, sick leaves are "approved" by a person with a HR role. This is usually somebody else, not a line manager. Approval by leave type makes total sense to me from that perspective.

[2018-03-21 13:34] Timmmm commented on #255
It's worth noting that approval and sick leave practices vary a lot from country to country. For example in America I understand that sick leave often comes out of your holiday allowance (as a "personal day").

In the UK you just take a sick day when you are ill, you need a doctors note for more than 5 days off and there is [a very basic formula](https://en.wikipedia.org/wiki/Bradford_Factor) that

[2018-03-21 13:36] Timmmm commented on #253
This would be useful for me too - at my present company there's a contractual 25 days holiday but it is a "soft" limit (tbh I haven't exactly worked out what that means yet) but anyway you should be able to take more than 25 days. I could just put the limit as 100 days or whatever, but it is nice to be able to see how many days you have left compared to the nominal limit.

[2018-03-21 16:42] #254 closed

[2018-03-21 18:58] kenshi1023 commented on #43
+1

[2018-03-22 12:34] vpp commented on #256
Fixed.

[2018-03-22 12:34] #256 closed

[2018-03-23 08:56] blueman007 commented on #41
Same request here. Maybe it could be solved more easily by attaching the bank holidays to the departments, instead of attaching them to the company ?

[2018-03-23 09:52] vpp commented on #41
@blueman007 this is very interesting idea! And the more I think about it the better it sounds.

[2018-03-23 16:56] vpp opened #258 "Total allowance is incorrect for users created mid-year"
When register user somewhere mid-year with lets say 25 days in allowance. The system shows that  number of available holidays is smaller then total in allowance.

For instance if register account now (march) the user would see that 16 days out of 25 are available.

Which is misleading.

It needs to show 16 out of 16.

The problem is in calculation of total allowance for user: it does not take into

[2018-03-24 12:05] #258 closed

[2018-03-24 12:05] vpp commented on #258
Fixed.

[2018-03-26 15:33] vpp opened #259 "Consider adding tours"
http://bootstraptour.com/ looks like nice tool

[2018-03-26 17:42] marct83 opened #260 "Can Supervisors Revoke an auto-approved leave?"
I can't find this functionality in the system. I have a supervisor of a Department... they are not admin... How do they Revoke a leave that an employee has entered and has been approved? In team view they cannot click on the employees. I dont see anywhere for them to do this. Although as an admin I can.

[2018-03-27 06:18] vpp commented on #260
@marct83 good spot! It needs to be fixed.

[2018-03-27 06:19] vpp commented on #245
@marct83 still working on #43 with paying off tech debt....

[2018-03-28 19:08] vpp opened #261 "Override supervisors on employee basis"
As per customer request: it  would be great to allow to override supervisor on employee basis.

[2018-03-28 21:07] vpp opened #262 "Rename "email_address" filed on user details page"
It needs to be something less emaily as some browsers try to be smart by autocomplete the field with wrong values when admin is editing someones details.

Rename it into "employee_email_address".

[2018-04-01 15:07] wasgsd opened #264 "feed timezone seems UTC instead of user's company"
Can we add ical-generator parameter for user's company's timezone
          timezone: user.company.timezone,
https://github.com/timeoff-management/application/blob/c06e4823a7142599c241d1dca37fbb7b9ab962c4/lib/route/feed.js#L114

[2018-04-02 10:50] vpp opened #265 "PR sequelize.js to mention ToM in their "who is using" section"
We need to update that file https://github.com/sequelize/sequelize/blob/master/docs/whos-using.md

[2018-04-02 10:57] vpp commented on #264
Looks like time zone needs to be privided into "cal" constructor rather than event itself.

It should not be a problem as we have all part in hands.

We need to update https://github.com/timeoff-management/application/blob/c06e4823a7142599c241d1dca37fbb7b9ab962c4/lib/route/feed.js#L15 with code similar to https://github.com/sebbo2002/ical-generator#just-another-example (where they pass timezone in

[2018-04-02 11:00] vpp commented on #264
Although the @wasgsd's suggestion also is an option as even has timezone property: https://github.com/sebbo2002/ical-generator#timezonestring-timezone-1

[2018-04-03 17:19] jpdentone opened #266 "Unhandled rejection SequelizeDatabaseError"
full error

`Unhandled rejection SequelizeDatabaseError: ER_BLOB_CANT_HAVE_DEFAULT: BLOB, TEXT, GEOMETRY or JSON column 'timezone' can't have a default value
    at Query.formatError (/var/www/timeoff/node_modules/sequelize/lib/dialects/mysql/query.js:175:14)
    at Query._callback (/var/www/timeoff/node_modules/sequelize/lib/dialects/mysql/query.js:49:21)
    at Query.Sequence.end (/var/www/timeo

[2018-04-03 19:08] vpp commented on #266
@jpdentone I do not have exposure for app instance that run against MySQL.

So lets see what other people would advise.

[2018-04-03 19:13] jpdentone commented on #266
I was able to fix that by changing the timezone datatyp in lib/model/db/company.js

`timezone : {
      type         : DataTypes.TEXT,
      allowNull    : true,
      defaultValue : 'Europe/London',
      comment      : 'Timezone current company is located in',
    },`

to

`timezone : {
      type         : DataTypes.STRING,
      allowNull    : true,
      defaultValue : 'Europe/London',

[2018-04-04 13:57] julienmalik commented on #266
Just to confirm the issue ; I had the exact same error deploying it yesterday.
I just switched back to sqllite for the time being.

[2018-04-04 14:05] vpp commented on #266
SQLite is the database I rely while developing the app and running cloud version.

There was assumption that using ORM would automatically transform the app into multi database dialect. Which clearly not a case unfortunate.

But on other hand there are definitely other people using the app with MySQL and Postgres so maybe there should be some extra configuration to be set.

Let's see what other pe

[2018-04-04 19:38] bardaos commented on #266
I was able to run the app using postgresql as db after change this packages versions:

- "sequelize": "^3.30.2" (was "^3.19.2")
- "sequelize-cli": "^2.6.0" (was "2.5.1")

Also the postgresql package needs to be added:

- "pg": "^6.1.5" (the postgresql package)

After that, I could use postgres as dialect in the db.json.

Hope it helps!

[2018-04-04 19:50] vpp commented on #266
Very good point!

I completely forgot that dependencies were not updated for quite a while.

[2018-04-04 20:35] jpdentone commented on #266
I updated all the dependencies and got the same error

`Unhandled rejection SequelizeDatabaseError: ER_CANNOT_ADD_FOREIGN: Cannot add foreign key constraint`

this is the package.json file after the update

`  "dependencies": {
    "bluebird": "^2.10.2",
    "body-parser": "^1.8.4",
    "connect-session-sequelize": "3.0.0",
    "cookie-parser": "^1.3.5",
    "csv": "~0.4.6",
    "debug": "~2.0.0",

[2018-04-05 12:09] blueman007 commented on #41
To add more details about the need ; the initial need mentioned that this issue affects international companies, whereas in fact it's much broader than that as it can affect many national companies too. Simply consider all the countries where the bank holidays are different per region : USA (different per state), Canada (different per province), Switzerland (per Canton), etc. And that's only the c

[2018-04-05 15:32] bsramin commented on #75
some evaluation when is ready? Needing help?

[2018-04-05 15:37] vpp opened #267 "More reporting"
- A complete year overview of all employees (12 months) / calendar view

[2018-04-05 15:38] vpp opened #268 "More reporting"
- A full year overview of selected groups (12 months) / calendar view
Very useful for planning.

[2018-04-05 15:40] vpp opened #269 "Allowance by time report to show rejected leaves"
Consider adding information about rejected leave requests to the existing report:

https://app.timeoff.management/reports/allowancebytime/

render those number in brackets?

[2018-04-05 15:45] vpp commented on #143
To re-evaluate this ticket as some of those requirements are done in allowance by time report

[2018-04-05 15:52] vpp opened #270 "Ability to download all users and their leaves as .CSV file"
As replacement of downloading account data as JSON (#229) it is good to have ability to download users and their leaves as .CSV file.

Consider option to send that in email as a back up every X days as an option.

[2018-04-05 15:54] vpp commented on #75
@bsramin I am considering of quite a big change in fron end part of application in near future and that would conflict with translation project so I would postpone translation till then. The change in front end if done would simplify translation.

[2018-04-06 14:42] XFactorus opened #271 "Different bank holidays per departments"
Hello,

Our company has offices in different countries (each office is defined as separate department), so bank holidays may be also different.

Would be great to have possibility to set bank holidays not global, but for selected departments.

[2018-04-09 12:39] cadab commented on #114
Was this change attempted?

[2018-04-09 13:28] vpp commented on #271
@XFactorus thanks for suggestion.

This feature is very likely going to be implemented as part of #41

I am going to close current ticket as duplicated.

[2018-04-09 13:28] #271 closed

[2018-04-10 22:49] kenshi1023 commented on #37
can we pay or make a donation for this feature to be implemented?

[2018-04-10 22:54] vpp commented on #37
Absolutely, just drop me email at pavlo@timeoff.management for further discussion.

[2018-04-11 16:42] simllll commented on #266
As a workaround you can just run this query manually @jpdentone :
[code]

[2018-04-12 12:57] vpp opened #273 "Consider alternative workflows"
As per customer request:

A way to report overtime and add it to a leave.

Workflow:
1. Employee reports an overtime
2. Manager approve overtime
3. Overtime is added to a compensatory leave
4. Employee now can request time off from that leave

[2018-04-20 17:18] tharakadwije commented on #251
hi please, can you support to create test cases?

[2018-04-22 16:53] programmingwheels commented on #251
Yes

On Fri, Apr 20, 2018 at 10:48 PM, tharakadwije <notifications@github.com>
wrote:

[2018-04-23 10:27] AsimPervez93 opened #274 "Can't get app installed"
Hi  @vpp, it's been a while!

I'm trying to install the app on a new server to do some testing but I'm having issue after issue.

Firstly, after doing `npm install`, node-sass would not install so I managed to use `npm install -f node-sass` to get that to install.

Now, when i do `npm start` I get the below error that I'm not sure what to do with, can anyone help?
![image](https://user-images.gith

[2018-04-23 11:01] vpp commented on #274
To me it looks like "node" is not pointing to node.js what "which node" gives you back?

Sent from my iPhone

[2018-04-23 11:06] AsimPervez93 commented on #274
huh that's strange.  `which node` gives back nothing

[2018-04-23 11:06] AsimPervez93 commented on #274
which `nodejs` returns` /usr/bin/nodejs`

[2018-04-23 11:26] AsimPervez93 commented on #274
Okay so building off your premise that node is messed up, I purged nodejs and installed it using

[code]
This gets me a little further,` which node` now returns `/usr/bin/node`

I now get this error when running `npm start`

[code]

[2018-04-23 11:43] thiagoArguelho opened #275 "Page insert"

[2018-04-23 11:45] thiagoArguelho opened #276 "How can I add new pages ?"

[2018-04-23 11:50] AsimPervez93 commented on #274
to fix this error `Error: Please install sqlite3 package manually` I purged sqlite3 and then used `npm install sqlite3 --save` and now the app works.

[2018-04-23 11:51] #274 closed

[2018-04-23 14:06] vpp commented on #274
AsimPervez93, thank you for sharing

Sent from my iPhone

[2018-04-25 17:44] marct83 commented on #260
Any updates on this one?

[2018-04-26 10:25] vpp commented on #260
hi @marct83 not really: I am busy with some other things now. Will bump its priority to reflect your interest.

[2018-05-03 09:40] vpp opened #277 "Auto approve flag based on leave type"
Add option to leave types to makes its leave to be approved automatically.

[2018-05-07 15:40] vpp commented on #43
The feature is in master.

Now it is possible to set given department to have its employe with accrual holiday entitlements.

[2018-05-07 15:40] #43 closed

[2018-05-10 16:02] gazben commented on #266
@simllll It produces the same error

[2018-05-10 16:35] simllll commented on #266
Try my fork, I have updated a lot regarding this
https://github.com/simllll/timeoff-application

[2018-05-10 16:57] gazben commented on #266
@simllll
Kinf of same:
node 9,
mysql 5.7
docker environment
[code]

[2018-05-15 12:36] vpp opened #279 "Option to notify employee if admin changes its allowance"
Allow option to notify employee when admin manually amends allowance.

[2018-05-18 10:35] nm2501 commented on #243
+1
This would be very useful for us.

[2018-05-21 13:51] vpp commented on #94
The ticket is irrelevant as the "restore" feature was removed from app.

[2018-05-21 13:51] #94 closed

[2018-05-21 13:55] vpp commented on #259
From old ticket #24

[2018-05-21 13:56] vpp commented on #24
DUplication of #259

[2018-05-21 13:56] #24 closed

[2018-05-21 13:57] #229 closed

[2018-05-21 16:05] vpp commented on #276
The app is Extress.js based one, hence any advise on how to build apps on top of this framework should be applicable. https://expressjs.com/

You can have a look at some trivial pages in the app - the reports - and try to replicate them. Here is a good starting point: https://github.com/timeoff-management/application/blob/master/lib/route/reports.js#L19

[2018-05-21 16:05] #276 closed

[2018-05-23 13:43] gazben commented on #196
This is a problem in apache2 too.
Solution:
[code]

[2018-05-25 13:42] #270 closed

[2018-05-25 13:51] vpp opened #281 "Bank holiday and allowance of partly employed staff"
Incorporate following rule when calculating allowance of part time staff.

This is UK specific rule.

If lets say there is an employee who works only mondays and fridays, he is entitle to 20 days of vacation plus all bank holidays.
But if any of those bank holidays happened to be on weekdays outside employee's schedule (Tue, Wed, Thu) then the allowance (20) needs to be increased correspondingly.

[2018-05-25 13:53] vpp opened #282 "Ability to remove company account"
Admin user should be able to remove entire company account.

* should be a confirmation popup which asks to type in company name

[2018-05-26 16:48] waqasraz commented on #266
I think it only works with SQLite. Here is what I am getting for @bardaos postgres requirements
`== 20171219-allowance-adjustment-per-year: migrating =======
{ SequelizeDatabaseError: relation "Users" does not exist
    at Query.formatError (/home/ubuntu/timeoff-management/node_modules/sequelize/lib/dialects/postgres/query.js:357:14)
    at Query.<anonymous> (/home/ubuntu/timeoff-management/node_m

[2018-05-28 15:04] jekuno commented on #144
Just a short reminder: The PR is more than one year old now and still waiting for approval.
Meanwhile it seems that the Mailgun integration as provided by the PR is not working any longer. Would it be possible to integrate the PR soon? This will also help to keep the Mailgun integration working for future releases.

[2018-06-04 11:51] julobaco opened #283 "Option to blackout some day/s or auto block when specific users picked the same day/s"
hi, I am curious about how difficult will be adding feature where will be possible to block some days for choosing for holiday (for example someone important will come visit the office and everybody should be in the office). Or if we have teams of 2 people but they cannot take holiday on the same day or if half office take the same day for holiday... What do you think? Thank you!

[2018-06-04 13:06] vpp commented on #133
+1

[2018-06-04 13:11] nnmalex commented on #218
Duplicates #114, doesn't it?

[2018-06-04 13:12] vpp commented on #232
+1 as in #283

[2018-06-04 13:14] vpp commented on #32
#283 #232

[2018-06-04 13:15] vpp commented on #283
hi @julobaco

Thank you for suggestion.

Both of these options are not hard to add into app.

THe question is time...

#232 address "blackout" feature.

I will keep this ticket to track second feature.

[2018-06-04 13:16] vpp commented on #218
yeah

[2018-06-06 09:58] vpp commented on #282
Done and in *master*.

[2018-06-06 09:58] #282 closed

[2018-06-06 18:05] APMarte opened #284 "MySQL foreign key error"
Hi,
like @enriquetoledano reported on issue #204 mysql has a problem with foreign key constraint.
In the same issue @genietto84 shown one possible solution:

Are you willing to accept a PR?

[2018-06-06 22:20] vpp commented on #284
Yes, please

Sent from my iPhone

[2018-06-07 06:40] blueman007 commented on #41
Hi,
Is is possible to get some insight about de development of this feature ? Because we are holding the deployment of TimeOff in our company until this function is available.
Thanks.

[2018-06-07 07:33] vpp commented on #41
hi @blueman007 I've done some work in tom-41-multilocation to introduce "grouping departments" so account could have "department" that could stand for particular office. But I am not sure about this approach at this moment so put the development on hold. Now I am toying with idea of link multiple "companies" into single account, that way it woud be proper multi office setup with separate settings

[2018-06-13 14:29] asidroid commented on #41
Hi, As long as the information is visible for the whole organization and the local companies calendars are visually merged, both ways are solving the issue. However, we could also beta-test your temporary solution and give you some feedback before you decide which is the version you want to push on the master.

[2018-06-14 08:07] madeinffm commented on #128
Hey everyone! Could anyone give me a hint what to insert on the given code to show a team calender for the next years?
Thanks!

[2018-06-15 10:36] #284 closed

[2018-06-19 06:20] vpp commented on #128
Related patch is worked in `tom-128-calendar-feed-extended` branch.

[2018-06-19 15:40] APMarte opened #286 "Email Notifications"
Hello @vpp,

what do you think about timeoff sending emails to all people of one department to alert then that someone have schedule vacations, one week earlier and one day before. What do you think?
If I implement this feature, are you willing to accept PR?

[2018-06-19 16:14] vpp commented on #286
hi @APMarte, I think it is good idea.

One thing to keep in mind: that feature needs to be controlled by employee her/himself, so they have to be able to either opt in or out on their will. By default it needs to be OFF.

There should be user interface for changing this flag, but we do not have such place as yet. So I think we need to create new page *Email notification settings* accessible for ev

[2018-06-19 20:44] rebelbrew88 opened #287 "Export Outlook calendar info to Time.Off calendar?"
Hi!

It looks like you can export your time.off calendar information to an Outlook calendar, but I'm looking to do the opposite - pull existing information (mainly availability) from an employee's Outlook calendar and have it displayed (somewhat) in the time.off calendar. Is this possible?

Thanks!

[2018-06-20 06:21] vpp commented on #128
I've merged some work related to feeds into *master*.

Now by default application exposes 6 future and 2 previous months; to override that behaviour please put `number_of_future_months_in_team_view_feed` and `number_of_past_months_in_team_view_feed` into `config/app.json` config file with corresponding numbers of months.

[2018-06-21 08:04] KlaymenDK commented on #287
This is exacly what I, too, am looking for: something that will automatically read "vacation" events in our company calendars and make team overviews out of it.

There is an [Office REST API](https://msdn.microsoft.com/en-us/office/office365/api/calendar-rest-operations) that will allow you to read calendar information, so it should be possible to do that bit.

I'm sure there could be complication